<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid" [@routerTransition]>
    <div class="p-col">
        <form #f="ngForm" (ngSubmit)="onSubmit()">

            <p-panel header="Add Personnel Development Activity">
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="title">Title</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText [(ngModel)]="activityInput.title" name="title" #title="ngModel"
                            required>
                    </div>
                    <div class="p-col-4" *ngIf="(title.touched||title.dirty)&&title.hasError('required')">
                        <p-message severity="error" text="Title is required"></p-message>
                    </div>
                </div>

                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="date">Date</label>
                    </div>
                    <div class="p-col-6">
                        <p-calendar [(ngModel)]="activityInput.date" name="date" #date="ngModel" showButtonBar="true"
                            [showIcon]="true" selectionMode="range" appendTo="body" [inputStyle]="{'width':'350px'}"
                            [hideOnDateTimeSelect]="true" required>
                        </p-calendar>
                    </div>
                    <div class="p-col-4" *ngIf="(date.touched||date.dirty)&&date.hasError('required')">
                        <p-message severity="error" text="Date is required"></p-message>
                    </div>
                </div>

                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="duration">Duration</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText [(ngModel)]="activityInput.duration" name="duration"
                            #duration="ngModel" required>
                    </div>
                    <div class="p-col-4" *ngIf="(duration.touched||duration.dirty)&&duration.hasError('required')">
                        <p-message severity="error" text="Duration is required"></p-message>
                    </div>
                </div>

                <p-footer>
                    <div class="p-grid" *ngIf="!isSubmitting; else spinner">
                        <div class="p-col-10 p-col-align-left">
                            <button pButton type="button" label="Back" icon="pi pi-arrow-left" (click)="onBack($event)"
                                class="ui-button-danger mr-2"></button>
                            <button pButton label="Save" icon="pi pi-plus"
                                [disabled]="f.untouched || (f.touched && f.invalid)" class=""></button>
                        </div>
                        <div class="p-col-2 p-col-align-right">
                            <button pButton type="button" label="Reset" icon="pi pi-refresh" (click)="onReset($event)"
                                class="ui-button-secondary"></button>
                        </div>
                    </div>

                    <div class="p-grid">
                        <div class="p-col">
                            <ng-template #spinner>
                                <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="6"
                                    fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
                            </ng-template>
                        </div>
                    </div>
                </p-footer>

            </p-panel>
        </form>
    </div>
</div>