<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid" [@routerTransition]>
    <div class="p-col">
        <form #f="ngForm" (ngSubmit)="onSubmit()">
            <p-panel header="Edit Module">

                <!-- MODULE ID -->
                <div class="p-grid" *ngIf="moduleModel">
                    <div class="p-col-2">
                        <label for="moduleId">Module ID:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText placeholder="Module ID" name="moduleId"
                            [(ngModel)]="moduleModel.moduleId" #moduleId="ngModel" [disabled]="true" required>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Module ID is required"
                            *ngIf="(moduleId.touched || moduleId.dirty) && moduleId.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <!-- NAME -->
                <div class="p-grid" *ngIf="moduleModel">
                    <div class="p-col-2">
                        <label for="name">Name:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText placeholder="Name" name="name" [(ngModel)]="moduleModel.name"
                            #name="ngModel" required>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Name is required"
                            *ngIf="(name.touched || name.dirty) && name.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <!-- TYPE -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="type">Type:</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="types" dataKey="type.value" name="type" [(ngModel)]="selectedType"
                            #type="ngModel" required placeholder="Select module type" [showClear]="true" appendTo="body"
                            [filter]="true" [resetFilterOnHide]=true>
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text=" is required"
                            *ngIf="(type.touched || type.dirty) && type.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <!-- ASSESSMENT METHOD -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="assessmentMethod">Assessment Method:</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="assessmentMethods" dataKey="assessmentMethod.value"
                            placeholder="Select assessment method" name="assessmentMethod"
                            [(ngModel)]="selectedAssessmentMethod" #assessmentMethod="ngModel" required
                            [showClear]="true" appendTo="body" [filter]="true" [resetFilterOnHide]=true>
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text=" is required"
                            *ngIf="(assessmentMethod.touched || assessmentMethod.dirty) && assessmentMethod.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <!-- NQF LEVEL -->
                <div class="p-grid" *ngIf="moduleModel">
                    <div class="p-col-2">
                        <label for="nqfLevel">NQF Level:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="number" pInputText placeholder="NQF Level" name="nqfLevel"
                            [(ngModel)]="moduleModel.nqfLevel" #nqfLevel="ngModel" required pkeyFilter="num">
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="NQF Level is required"
                            *ngIf="(nqfLevel.touched || nqfLevel.dirty) && nqfLevel.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <!-- CREDITS -->
                <div class="p-grid" *ngIf="moduleModel">
                    <div class="p-col-2">
                        <label for="credits">Credits:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="number" pInputText placeholder="Credits" name="credits"
                            [(ngModel)]="moduleModel.credits" #credits="ngModel" required pkeyFilter="num">
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Credits is required"
                            *ngIf="(credits.touched || credits.dirty) && credits.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <!-- BLOCK -->
                <div class="p-grid" *ngIf="blocks">
                    <div class="p-col-2">
                        <label for="block">Block</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="blocks" optionLabel="name" dataKey="blockId" name="block"
                            [(ngModel)]="selectedBlock" #block="ngModel" required placeholder="Select block"
                            [showClear]="true" appendTo="body" [filter]="true"></p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Block is required"
                            *ngIf="(block.touched || block.dirty) && block.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <!-- QUALIFICATION -->
                <div class="p-grid" *ngIf="qualifications">
                    <div class="p-col-2">
                        <label for="qualification">Qualification</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="qualifications" optionLabel="name" dataKey="qualificationId"
                            name="qualification" [(ngModel)]="selectedQualification" #qualification="ngModel" required
                            placeholder="Select qualification" [showClear]="true" appendTo="body" [filter]="true"
                            filterBy="label">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Qualification is required"
                            *ngIf="(qualification.touched || qualification.dirty) && qualification.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <!-- OFFERING TYPE -->
                <div class="p-grid" *ngIf="offeringTypes">
                    <div class="p-col-2">
                        <label for="offeringType">Offering Type</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="offeringTypes" optionLabel="description" dataKey="offeringTypeId"
                            name="offeringType" [(ngModel)]="selectedOfferingType" #offeringType="ngModel" required
                            placeholder="Select offering type" [showClear]="true" appendTo="body" [filter]="true">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Offering Type is required"
                            *ngIf="(offeringType.touched || offeringType.dirty) && offeringType.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <!-- DISCIPLINE -->
                <div class="p-grid" *ngIf="disciplines">
                    <div class="p-col-2">
                        <label for="discipline">Discipline</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="disciplines" optionLabel="name" dataKey="disciplineId" name="discipline"
                            [(ngModel)]="selectedDiscipline" #discipline="ngModel" required
                            placeholder="Select discipline" [showClear]="true" appendTo="body" [filter]="true">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Discipline is required"
                            *ngIf="(discipline.touched || discipline.dirty) && discipline.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <!-- STUDENTS ENROLLED -->
                <div class="p-grid" *ngIf="moduleModel">
                    <div class="p-col-2">
                        <label for="enrolled">
                            Students Enrolled
                        </label>
                    </div>
                    <div class="p-col-6">
                        <p-spinner size="50" [(ngModel)]="moduleModel.enrolled" name="enrolled" #enrolled="ngModel"
                            required></p-spinner>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Students enrolled is required"
                            *ngIf="(enrolled.touched || enrolled.dirty) && enrolled.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <!-- VENUE -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="venue">Venue</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="venues" optionLabel="label" datakey="venueId" name="venue"
                            [(ngModel)]="selectedVenue" #venue="ngModel" placeholder="Select venue" [showClear]="true"
                            appendTo="body" [filter]="true">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Venue is required"
                            *ngIf="(venue.touched || venue.dirty) && venue.hasError('required')">
                        </p-message>
                    </div>
                </div>


                <p-footer>
                    <div class="p-grid" *ngIf="!isSubmitting; else spinner">
                        <div class="p-col">
                            <button pButton type="button" label="Back" icon="pi pi-arrow-left" (click)="onBack($event)"
                                class="ui-button-danger mr-2"></button>
                            <button pButton label="Save" icon="pi pi-plus" [disabled]="f.untouched || f.invalid"
                                class=""></button>
                            <button pButton type="button" label="Reset" icon="pi pi-refresh" (click)="onReset($event)"
                                class="ui-button-secondary float-right"></button>
                        </div>
                    </div>

                    <div class="p-grid">
                        <div class="p-col">
                            <ng-template #spinner>
                                <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="6"
                                    fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
                            </ng-template>
                        </div>
                    </div>
                </p-footer>
            </p-panel>
        </form>
    </div>
</div>