<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid">
    <div class="p-col">
        <p-panel header="Edit Module">

            <form #f="ngForm" (ngSubmit)="onSubmit()">
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="moduleId">Module ID:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText placeholder="Module ID" name="moduleId"
                            [(ngModel)]="moduleInput.moduleId" #moduleId="ngModel" [disabled]="true" required>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Module ID is required"
                            *ngIf="(moduleId.touched || moduleId.dirty) && moduleId.hasError('required')">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="name">Name:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText placeholder="Name" name="name" [(ngModel)]="moduleInput.name"
                            #name="ngModel" required>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Name is required"
                            *ngIf="(name.touched || name.dirty) && name.hasError('required')">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="type">Type:</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="types" name="type" [(ngModel)]="moduleInput.type" #type="ngModel"
                            required placeholder="Select module type" [showClear]="true" appendTo="body"
                            [filter]="true">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text=" is required"
                            *ngIf="(type.touched || type.dirty) && type.hasError('required')">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="assessmentMethod">Assessment Method:</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="assessmentMethods" placeholder="Select assessment method"
                            name="assessmentMethod" [(ngModel)]="moduleInput.assessmentMethod"
                            #assessmentMethod="ngModel" required [showClear]="true" appendTo="body" [filter]="true">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text=" is required"
                            *ngIf="(assessmentMethod.touched || assessmentMethod.dirty) && assessmentMethod.hasError('required')">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="nqfLevel">NQF Level:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="number" pInputText placeholder="NQF Level" name="nqfLevel"
                            [(ngModel)]="moduleInput.nqfLevel" #nqfLevel="ngModel" required pkeyFilter="num">
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="NQF Level is required"
                            *ngIf="(nqfLevel.touched || nqfLevel.dirty) && nqfLevel.hasError('required')">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="credits">Credits:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="number" pInputText placeholder="NQF Level" name="credits"
                            [(ngModel)]="moduleInput.credits" #credits="ngModel" required pkeyFilter="num">
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Credits is required"
                            *ngIf="(credits.touched || credits.dirty) && credits.hasError('required')">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="block">Block</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="blocks" optionLabel="name" name="block" [(ngModel)]="selectedBlock"
                            #block="ngModel" required placeholder="Select block" [showClear]="true" appendTo="body"
                            [filter]="true"></p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Block is required"
                            *ngIf="(block.touched || block.dirty) && block.hasError('required')">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="qualification">Qualification</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="qualifications" optionLabel="name" name="qualification"
                            [(ngModel)]="selectedQualification" #qualification="ngModel" required
                            placeholder="Select qualification" [showClear]="true" appendTo="body" [filter]="true"
                            filterBy="label">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Qualification is required"
                            *ngIf="(qualification.touched || qualification.dirty) && qualification.hasError('required')">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="offeringType">Offering Type</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="offeringTypes" optionLabel="description" name="offeringType"
                            [(ngModel)]="selectedOfferingType" #offeringType="ngModel" required
                            placeholder="Select offering type" [showClear]="true" appendTo="body" [filter]="true">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Offering Type is required"
                            *ngIf="(offeringType.touched || offeringType.dirty) && offeringType.hasError('required')">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="discipline">Discipline</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="disciplines" optionLabel="name" name="discipline"
                            [(ngModel)]="selectedDiscipline" #discipline="ngModel" required
                            placeholder="Select discipline" [showClear]="true" appendTo="body" [filter]="true">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Discipline is required"
                            *ngIf="(discipline.touched || discipline.dirty) && discipline.hasError('required')">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="venue">Venue</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="venues" optionLabel="venueId" name="venue" [(ngModel)]="selectedVenue"
                            #venue="ngModel" required placeholder="Select venue" [showClear]="true" appendTo="body"
                            [filter]="true">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Venue is required"
                            *ngIf="(venue.touched || venue.dirty) && venue.hasError('required')">
                        </p-message>
                    </div>
                </div>
            </form>

            <p-footer>
                <div class="p-grid">
                    <div class="p-col p-justify-start">
                        <button pButton label="Add Module" icon="pi pi-plus" [disabled]="f.invalid"
                            class="mr-2"></button>
                        <button pButton type="button" label="Back" icon="pi pi-arrow-left" (click)="onBack($event)"
                            class="ui-button-danger"></button>
                    </div>
                    <div class="p-col p-justify-end">
                        <button pButton type="button" label="Reset" icon="pi pi-refresh" (click)="onReset($event)"
                            class="ui-button-secondary"></button>
                    </div>
                </div>
            </p-footer>
        </p-panel>
    </div>
</div>
<div>
    {{moduleInput|json}}
</div>
<div>
    {{selectedBlock|json}}
</div>
<div>
    {{selectedOfferingType|json}}
</div>
<div>
    {{selectedQualification|json}}
</div>
<div>
    {{selectedDiscipline|json}}
</div>
<div>
    {{selectedVenue|json}}
</div>