<div [@routerTransition]>
    <app-page-header [heading]="'Staff'" [icon]="'fa-user'"></app-page-header>

    <h4 class="alert-heading"></h4>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Staff Members
                </div>
                <div class="card-body table-responsive table-hover">
                    <table class="table">
                        <thead>
                            <tr>
                                <!-- <th>#</th> -->
                                <th>Staff ID</th>
                                <th>Name</th>
                                <th>Photo</th>
                                <th>Position</th>
                                <th>Qualification</th>
                                <th>Discipline</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let staff of staffList">
                                <!-- <th scope="row">1</th> -->
                                <td>{{ staff.staffId }}</td>
                                <td>{{ staff.name }}</td>
                                <td><i class="fa fa-user"></i></td>
                                <td>{{ staff.position }}</td>
                                <td>{{ staff.qualification }}</td>
                                <td>{{ staff.discipline }}</td>
                                <td>{{ staff.department }}</td>
                                <td>{{ staff.faculty }}</td>
                                <td>
                                    <a [routerLink]="[':id']" routerLinkActive="router-link-active">Details </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>33</td>
                                <td>R. Thompson</td>
                                <td><i class="fa fa-user"></i></td>
                                <td>Senior Lecturer</td>
                                <td>Information Technology</td>
                                <td>Operating Systems</td>
                                <td>
                                    <a [routerLink]="['/staff']" routerLinkActive="router-link-active">Details </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>35</td>
                                <td>J. Wing</td>
                                <td><i class="fa fa-user"></i></td>
                                <td>Course Coordinator</td>
                                <td>Information Technology</td>
                                <td>User Interfaces</td>
                                <td>
                                    <a [routerLink]="['/staff']" routerLinkActive="router-link-active">Details </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>78</td>
                                <td>S. Mahlangu</td>
                                <td><i class="fa fa-user"></i></td>
                                <td>Developer</td>
                                <td>Information Technology</td>
                                <td>Software Development</td>
                                <td>
                                    <a [routerLink]="['/staff']" routerLinkActive="router-link-active">Details </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-5">

    </div>
    <app-staff-add></app-staff-add>
</div>