<div [@routerTransition]>
    <div class="row">
        <div class="col-6">
            <form [formGroup]="formalInstructionAddForm" (ngSubmit)="onAdd()" class="form">

                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h5>Add Formal Instruction</h5>
                            </div>
                            <div class="card-body">

                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="userId">User ID</label>
                                        <input formControlName="userId" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="moduleId"><strong>Select Module</strong></label>
                                        <select formControlName="moduleId" class="custom-select">
                                            <option *ngFor="let module of modules; let i = index" [value]="i">
                                                {{ module.name }} - ({{module.moduleId | uppercase}}) - -
                                                ({{module.block.name | titlecase}}) - -
                                                ({{module.offeringType.description | uppercase}})
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for=""><strong>Course Coordinator?</strong></label>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input"
                                                formControlName="isCoordinator" name="isCoordinator" id="Coordinator"
                                                [value]="true" value="isCoordinator">
                                            <label class="custom-control-label" for="Coordinator">Coordinator</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input"
                                                formControlName="isCoordinator" name="isCoordinator" id="notCoordinator"
                                                [value]="false" value="isCoordinator">
                                            <label class="custom-control-label" for="notCoordinator">Not
                                                Coordinator</label>
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary mr-3" (click)="onAdd()">Confirm</button>
                                <button type="button" class="btn btn-danger" (click)="onBack()">Back</button>
                                <button class="btn btn-dark pull-right" (click)="onReset()">Reset</button>
                            </div>
                        </div>
                    </div>


                </div>

            </form>
        </div>
    </div>
</div>