<div class="row">
        <div class="col col-lg-12 col-xl-12">
            <div class="card mb-3">
                <div class="card-header">
                    Add Staff
                </div>
                <div class="card-body">
                    <form role="form">
                        <fieldset class="form-group">
                            <label>Staff ID</label>
                            <input type="text" class="form-control">
                        </fieldset>
                        <fieldset class="form-group">
                            <label>Name</label>
                            <input class="form-control">
                        </fieldset>
                        <div class="form-group">
                            <label>Position</label>
                            <select class="form-control">
                                <option>Lecturer</option>
                                <option>Senior Lecturer</option>
                                <option>Developer</option>
                                <option>Course Coordinator</option>
                                <option>Head of Department</option>
                            </select>
                        </div>
                        <fieldset class="form-group">
                            <label>Qualification</label>
                            <input class="form-control">
                        </fieldset>
                        <fieldset class="form-group">
                            <label>Discipline</label>
                            <input class="form-control">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="exampleInputFile">Upload Photo</label>
                            <input type="file" class="form-control-file" id="exampleInputFile">
                        </fieldset>
    
                        <button type="submit" class="btn btn-success mr-2">Create</button>
                        <button type="reset" class="btn btn-success">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>