<div class="col col-lg-6 col-md-6 col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5>Edit Lecturer</h5>
        </div>
        <div class="card-body">
            <div class="">
                <form [formGroup]="lecturerEditForm" class="form">

                    <div class="form-group">
                        <label for="lecturerId" class="col-form-label">Lecturer ID</label>
                        <input type="text" class="form-control" formControlName="lecturerId" disabled>
                    </div>

                    <div class="row" formGroupName="name">
                        <div class="form-group col">
                            <label for="firstName" class="col-form-label">First Name</label>
                            <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
                            <span class="alert-danger" *ngIf="!lecturerEditForm.get('name.firstName').valid && lecturerEditForm.get('name.firstName').touched">
                                <span *ngIf="lecturerEditForm.get('name.firstName').errors['required']">First Name field is required</span>
                            </span>
                        </div>

                        <div class="form-group col">
                            <label for="lastName" class="col-form-label">Last Name</label>
                            <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
                            <span class="alert-danger" *ngIf="!lecturerEditForm.get('name.lastName').valid && lecturerEditForm.get('name.lastName').touched" >
                                <span *ngIf="lecturerEditForm.get('name.lastName').errors['required']">Last Name field is required</span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-form-label">Email</label>
                        <input type="email" class="form-control" formControlName="email" placeholder="Email">
                        <span class="alert-danger" *ngIf="!lecturerEditForm.get('email').valid && lecturerEditForm.get('email').touched">
                            <span *ngIf="lecturerEditForm.get('email').errors['required']">Email field is required</span>
                            <span *ngIf="lecturerEditForm.get('email').errors['email']">Please enter a valid email</span>
                        </span>
                    </div>

                    <button class="btn btn-outline-success mr-1" (click)="onEdit()">Edit Lecturer</button>
                    <button class="btn btn-outline-danger" (click)="onCancel()">Cancel</button>

                </form>
            </div>
        </div>
    </div>
</div>
