<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid" [@routerTransition]>
    <div class="p-col">
        <p-panel header="Formal Instruction Activities">
            <p-table #fiTable [columns]="cols" [value]="activities" [paginator]="true" [rows]="10"
                selectionMode="single" [(selection)]="selectedActivity" datakey="activityId"
                (onRowSelect)="onRowSelect($event)" [reorderableColumns]="true" [responsive]="true" [loading]="loading"
                [contextMenu]="cm" contextMenuSelectionMode="joint">
                <ng-template pTemplate="caption">
                    <div style="text-align: right;">
                        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Global Filter"
                            (input)="fiTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let column of columns" [pSortableColumn]="column.field" pReorderableColumn>
                            {{column.header}}
                            <p-sortIcon [field]="column.field"></p-sortIcon>
                        </th>
                    </tr>
                    <!-- <tr>
                        <th *ngFor="let column of columns" [ngSwitch]="column.field">
                            <input type="text" pInputText *ngSwitchCase="'userId'"
                                (input)="userTable.filter($event.target.value, column.field, column.filterMatchMode)"
                                style="width: 100%;">
                            <input type="text" pInputText *ngSwitchCase="'lastName'"
                                (input)="userTable.filter($event.target.value, column.field, column.filterMatchMode)"
                                style="width: 100%;">
                            <input type="text" pInputText *ngSwitchCase="'firstName'"
                                (input)="userTable.filter($event.target.value, column.field, column.filterMatchMode)"
                                style="width: 100%;">
                            <input type="text" pInputText *ngSwitchCase="'email'"
                                (input)="userTable.filter($event.target.value, column.field, column.filterMatchMode)"
                                style="width: 100%;">
                            <p-dropdown *ngSwitchCase="'workFocusName'" [options]="workFocuses"
                                [style]="{'width':'100%'}"
                                (onChange)="userTable.filter($event.value, column.field, 'equals')"></p-dropdown>
                            <p-dropdown *ngSwitchCase="'gender'" [options]="genders" [style]="{'width':'100%'}"
                                (onChange)="userTable.filter($event.value, column.field, 'equals')"></p-dropdown>
                        </th>
                    </tr> -->
                </ng-template>
                <ng-template pTemplate="body" let-activity let-columns="columns">
                    <tr [pSelectableRow]="activity" [pContextMenuRow]="activity">
                        <td *ngFor="let column of columns">
                            {{activity[column.field]}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer" let-columns>
                    <tr>
                        <td *ngFor="let column of columns">
                            {{column.header}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">

                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns.length">
                            No records found
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <p-contextMenu #cm [model]="menuItems"></p-contextMenu>
            <p-footer>
                <button pButton type="button" label="New Activity" icon="pi pi-plus" iconPos="left"
                    (click)="onAdd()"></button>
                <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export CSV"
                    (click)="fiTable.exportCSV()" style="float:right"></button>
            </p-footer>
        </p-panel>
    </div>
</div>