<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid" [@routerTransition]>
    <div class="p-col">
        <p-panel header="Formal Instruction Activities">
            <p-table #fiTable [columns]="cols" [value]="activities" [paginator]="true" [rows]="10"
                selectionMode="single" [(selection)]="selectedActivity" datakey="activityId"
                (onRowSelect)="onRowSelect($event)" [reorderableColumns]="true" [responsive]="true" [loading]="loading"
                [contextMenu]="cm" contextMenuSelectionMode="joint">
                <ng-template pTemplate="caption">
                    <div style="text-align: right;">
                        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Global Filter"
                            (input)="fiTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th colspan="1" [pSortableColumn]="activity?.module?.moduleId">
                            Module ID
                            <p-sortIcon [field]="activity?.module?.moduleId"></p-sortIcon>
                        </th>
                        <th colspan="3" [pSortableColumn]="activity?.module?.name">
                            Module
                            <p-sortIcon [field]="activity?.module?.name"></p-sortIcon>
                        </th>
                        <th colspan="1" [pSortableColumn]="activity?.block?.name">
                            Block
                            <p-sortIcon [field]="activity?.block?.name"></p-sortIcon>
                        </th>
                        <th colspan="1" [pSortableColumn]="activity?.offeringType?.description">
                            Offering Type
                            <p-sortIcon [field]="activity?.offeringType?.description"></p-sortIcon>
                        </th>
                        <th colspan="4" [pSortableColumn]="activity?.qualification?.name">
                            Qualification
                            <p-sortIcon [field]="activity?.qualification?.name"></p-sortIcon>
                        </th>
                        <th colspan="1" [pSortableColumn]="activity?.module?.coordinator">
                            Coordinator
                            <p-sortIcon [field]="activity?.module?.coordinatorId"></p-sortIcon>
                        </th>
                        <th colspan="1" [pSortableColumn]="activity?.approvalStatus">
                            Approval Status
                            <p-sortIcon [field]="activity?.approvalStatus"></p-sortIcon>
                        </th>
                    </tr>
                    <!-- <tr>
                        <th colspan="1">
                            <input type="text" pInputText
                                (input)="fiTable.filter($event.target.value, 'moduleId', 'contains')"
                                style="width: 100%;">
                        </th>
                        <th colspan="3">
                            <input type="text" pInputText
                                (input)="fiTable.filter($event.target.value, 'module.name', 'contains')"
                                style="width: 100%;">
                        </th>
                        <th colspan="1">
                            <input type="text" pInputText
                                (input)="fiTable.filter($event.target.value, 'block.name', 'contains')"
                                style="width: 100%;">
                        </th>
                        <th colspan="1">
                            <input type="text" pInputText
                                (input)="fiTable.filter($event.target.value, 'offeringType.description', 'contains')"
                                style="width: 100%;">
                        </th>
                        <th colspan="4">
                            <input type="text" pInputText
                                (input)="fiTable.filter($event.target.value,'qualification.name', 'contains')"
                                style="width: 100%;">
                        </th>
                        <th colspan="1">
                            <input type="text" pInputText
                                (input)="fiTable.filter($event.target.value,'module.coordinatorId', 'contains')"
                                style="width: 100%;">
                        </th>
                        <th colspan="1">
                            <input type="text" pInputText
                                (input)="fiTable.filter($event.target.value,'approvalStatus', 'contains')"
                                style="width: 100%;">
                        </th>
                    </tr> -->
                </ng-template>
                <ng-template pTemplate="body" let-activity>
                    <tr [pSelectableRow]="activity" [pContextMenuRow]="activity">
                        <td colspan="1">
                            {{activity?.module?.moduleId}}
                        </td>
                        <td colspan="3">
                            {{activity?.module?.name}}
                        </td>
                        <td colspan="1">
                            {{activity?.block?.name}}
                        </td>
                        <td colspan="1">
                            {{activity?.offeringType?.description}}
                        </td>
                        <td colspan="4">
                            {{activity?.qualification?.name}}
                        </td>
                        <td colspan="1">
                            {{activity?.isCoordinator | questionableBoolean}}
                        </td>
                        <td colspan="1">
                            {{activity?.approvalStatus | titlecase}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td colspan="1">
                            Module ID
                        </td>
                        <td colspan="3">
                            Module
                        </td>
                        <td colspan="1">
                            Block
                        </td>
                        <td colspan="1">
                            Offering Type
                        </td>
                        <td colspan="4">
                            Qualification
                        </td>
                        <td colspan="1">
                            Coordinator
                        </td>
                        <td colspan="1">
                            Approval Status
                        </td>
                </ng-template>
                <ng-template pTemplate="summary">
                    <tr>
                        <td colspan="12">
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="12">
                            No records found
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <!-- CONTEXT mENU -->
            <p-contextMenu #cm [model]="menuItems" appendTo="body"></p-contextMenu>
            <p-footer>
                <button pButton type="button" label="New Activity" icon="pi pi-plus" iconPos="left" (click)="onAdd()"
                    class="mr-2"></button>
                <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export CSV"
                    (click)="fiTable.exportCSV()" style="float:right"></button>
            </p-footer>
        </p-panel>
    </div>
</div>

<p-toast position="center" key="formalInstructionActivityDelete" (onClose)="onReject()" [modal]="true"
    [baseZIndex]="9000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>