<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h4>Details</h4>
            </div>
            <div class="card-body" *ngIf="user"  >
                <div class="row">
                    <div class="col">
                        <dl class="row">
                            <dt class="col-4">Staff ID</dt>
                            <dd class="col-8">{{ user?.userId }}</dd>
                            <dt class="col-4">First Name</dt>
                            <dd class="col-8">{{ user?.firstName}}</dd>
                            <dt class="col-4">Email</dt>
                            <dd class="col-8">{{ user?.email}}</dd>
                            <dt class="col-4">Gender</dt>
                            <dd class="col-8">{{ user?.gender | titlecase}}</dd>
                            <dt class="col-4">Nationality</dt>
                            <dd class="col-8">{{ user?.nationality | titlecase}}</dd>
                            <dt class="col-4">Last Name</dt>
                            <dd class="col-8">{{ user?.lastName }}</dd>
                            <dt class="col-4">Discipline</dt>
                            <dd class="col-8">{{ user?.discipline.name }}</dd>
                            <dt class="col-4">Position</dt>
                            <dd class="col-8">{{ user?.position.name }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-outline-warning mr-3" (click)="onEdit()">Edit</button>
                        <button class="btn btn-outline-primary" (click)="onBack()">Back</button>
                        <button class="btn btn-outline-danger pull-right" (click)="onDelete()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
