<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid" [@routerTransition]>
    <div class="p-col-12">
        <form [formGroup]="profileEditForm" (ngsubmit)="onEdit()">
            <p-panel header="Edit Venue">
                <p-header>
                </p-header>

                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="userId">User ID:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText placeholder="User ID" formControlName="userId" pKeyFilter="num">
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="User ID is required"
                            *ngIf="(userId.touched||userId.dirty)&&userId.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="email">Email:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText placeholder="Email" formControlName="email" pKeyFilter="email">
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Email is required"
                            *ngIf="(email.touched||email.dirty)&&email.hasError('required')">
                        </p-message>
                        <p-message severity="error" text="Not a valid email"
                            *ngIf="(email.touched||email.dirty)&&email.hasError('email')">
                        </p-message>
                    </div>
                </div>

                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="firstName">First Name:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText placeholder="First Name" formControlName="firstName"
                            pKeyFilter="alpha">
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="User ID is required"
                            *ngIf="(firstName.touched||firstName.dirty)&&firstName.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="lastName">Last Name:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText placeholder="Last Name" formControlName="lastName"
                            pKeyFilter="alpha">
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Last name is required"
                            *ngIf="(lastName.touched||lastName.dirty)&&lastName.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="discipline">Discipline:</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="disciplines" optionLabel="name" formControlName="discipline"
                            placeholder="Select discipline" appendTo="body" showClear="true" [filter]="true"
                            filterBy="label">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Discipline is required"
                            *ngIf="(discipline.touched||discipline.dirty) && (discipline.value==='' || discipline.hasError('required'))">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="position">Position:</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="positions" optionLabel="name" formControlName="position"
                            placeholder="Select position" appendTo="body" showClear="true" [filter]="true"
                            filterBy="label">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Position is required"
                            *ngIf="(position.touched || position.dirty) && (position.value==='' || position.hasError('required'))">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="workFocus">Work Focus:</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="workFocuses" optionLabel="name" formControlName="workFocus"
                            placeholder="Select Work Focus" appendTo="body" showClear="true" [filter]="true"
                            filterBy="label">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Work Focus is required"
                            *ngIf="(workFocus.touched || workFocus.dirty) && (workFocus.value==='' || workFocus.hasError('required'))">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="gender">Gender:</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="genders" formControlName="gender" placeholder="Select gender"
                            appendTo="body" showClear="true" [filter]="true" filterBy="label">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Gender is required"
                            *ngIf="(gender.touched || gender.dirty) && (gender.value==='' || gender.hasError('required'))">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="nationality">Race/Nationality:</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="nationalities" formControlName="nationality"
                            placeholder="Select nationality" appendTo="body" showClear="true" [filter]="true"
                            filterBy="label">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Nationality is required"
                            *ngIf="(nationality.touched || nationality.dirty) && (nationality.value==='' || nationality.hasError('required'))">
                        </p-message>
                    </div>
                </div>

                <p-footer>
                    <div class="p-grid">
                        <div class="p-col-1"><button pButton label="Edit Venue" icon="pi pi-plus" (click)="onEdit()"
                                [disabled]="profileEditForm.invalid"></button>
                        </div>
                        <div class="p-col-1">
                            <button pButton type="button" label="Back" icon="pi pi-arrow-left" (click)="onBack($event)"
                                class="ui-button-danger"></button>
                        </div>
                        <div class="p-col"></div>
                        <div class="p-col-1 p-col-align-end">
                            <button pButton type="button" label="Reset" icon="pi pi-refresh" (click)="onReset($event)"
                                class="ui-button-secondary"></button>
                        </div>
                    </div>
                </p-footer>
            </p-panel>
        </form>
    </div>
</div>