<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid" [@routerTransition]>
    <div class="p-col-12">
        <form #f="ngForm" (ngSubmit)="onSubmit()">
            <p-panel header="Edit Venue">

                <!-- USER ID -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="userId">User ID:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText placeholder="User ID" name="userId" [(ngModel)]="userModel.userId"
                            #userId="ngModel" pKeyFilter="num" [disabled]="true">
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="User ID is required"
                            *ngIf="(userId.touched||userId.dirty)&&userId.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <!-- EMAIL -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="email">Email:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText placeholder="Email" name="email" [(ngModel)]="userModel.email"
                            #email="ngModel" pKeyFilter="email" email required>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Email is required"
                            *ngIf="(email.touched||email.dirty)&&email.hasError('required')">
                        </p-message>
                        <p-message severity="error" text="Not a valid email"
                            *ngIf="(email.touched||email.dirty)&&email.hasError('email')">
                        </p-message>
                    </div>
                </div>

                <!-- FIRST NAME -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="firstName">First Name:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText placeholder="First Name" name="firstName"
                            [(ngModel)]="userModel.firstName" #firstName="ngModel" pKeyFilter="alpha" required>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="First name is required"
                            *ngIf="(firstName.touched||firstName.dirty)&&firstName.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <!-- LAST NAME -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="lastName">Last Name:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText placeholder="Last Name" name="lastName"
                            [(ngModel)]="userModel.lastName" #lastName="ngModel" pKeyFilter="alpha" required>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Last name is required"
                            *ngIf="(lastName.touched||lastName.dirty)&&lastName.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <!-- DISCIPLINE -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="discipline">Discipline:</label>
                    </div>
                    <div class="p-col-6">
                        <p-listbox [options]="disciplines" optionLabel="name" datakey="disciplineId"
                            [(ngModel)]="selectedDisciplines" name="discipline" #discipline="ngModel"
                            multiple="multiple" checkbox="checkbox" [filter]="true" filterBy="label,value.disciplineId"
                            [listStyle]="{'max-height':'200px', 'width':'100%'}" [style]="{'width':'100%'}" required>
                            <p-header>
                                <i class="pi pi-book"></i>
                                Disciplines
                            </p-header>
                        </p-listbox>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Discipline is required"
                            *ngIf="(discipline.touched||discipline.dirty)&&(discipline.value===''||discipline.hasError('required'))">
                        </p-message>
                    </div>
                </div>

                <!-- DEPARTMENT -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="department">Department:</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="departments" optionLabel="name" dataKey="departmentId" name="department"
                            [(ngModel)]="selectedDepartment" #department="ngModel" placeholder="Select department"
                            appendTo="body" showClear="true" [filter]="true" filterBy="label" [resetFilterOnHide]="true"
                            required>
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Department is required"
                            *ngIf="(department.touched || department.dirty) && (department.value==='' || department.hasError('required'))">
                        </p-message>
                    </div>
                </div>

                <!-- POSITION -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="position">Position:</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="positions" optionLabel="name" name="position"
                            [(ngModel)]="selectedPosition" #position="ngModel" placeholder="Select position"
                            appendTo="body" showClear="true" [filter]="true" filterBy="label" [resetFilterOnHide]="true"
                            required>
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Position is required"
                            *ngIf="(position.touched||position.dirty) && (position.value===''||position.hasError('required'))">
                        </p-message>
                    </div>
                </div>

                <!-- WORK FOCUS -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="workFocus">Work Focus:</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="workFocuses" optionLabel="name" name="workFocus"
                            [(ngModel)]="selectedWorkFocus" #workFocus="ngModel" required
                            placeholder="Select Work Focus" appendTo="body" showClear="true" [filter]="true"
                            filterBy="label">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Work Focus is required"
                            *ngIf="(workFocus.touched || workFocus.dirty) && (workFocus.value==='' || workFocus.hasError('required'))">
                        </p-message>
                    </div>
                </div>

                <!-- GENDER -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="gender">Gender:</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="genders" name="gender" [(ngModel)]="selectedGender" #gender="ngModel"
                            required placeholder="Select gender" appendTo="body" showClear="true">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Gender is required"
                            *ngIf="(gender.touched || gender.dirty) && (gender.value==='' || gender.hasError('required'))">
                        </p-message>
                    </div>
                </div>

                <!-- NATIONALITY -->
                <div class="p-grid" *ngIf="false">
                    <div class="p-col-2">
                        <label for="nationality">Race/Nationality:</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="nationalities" name="nationality" [(ngModel)]="selectedNationality"
                            #nationality="ngModel" required placeholder="Select nationality" appendTo="body"
                            showClear="true">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Nationality is required"
                            *ngIf="(nationality.touched || nationality.dirty) && (nationality.value==='' || nationality.hasError('required'))">
                        </p-message>
                    </div>
                </div>



                <p-footer>
                    <div class="p-grid">
                        <div class="p-col-10 p-col-align-left">
                            <button pButton type="button" label="Back" icon="pi pi-arrow-left" (click)="onBack($event)"
                                class="ui-button-danger mr-2"></button>
                            <button pButton label="Save" icon="pi pi-plus" [disabled]="f.invalid" class=""></button>
                        </div>
                        <div class="p-col-2 p-col-align-right">
                            <button pButton type="button" label="Reset" icon="pi pi-refresh" (click)="onReset($event)"
                                class="ui-button-secondary"></button>
                        </div>
                    </div>
                </p-footer>
            </p-panel>
        </form>
    </div>
</div>