<div class="card" [@routerTransition]>
    <div class="card-header">
        <h5>Staff</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">

                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="userListDT"
                    class="table table-hover table-active">
                    <thead>
                        <tr>
                            <th>
                                Staff Id
                            </th>
                            <th>
                                First Name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Discipline
                            </th>
                            <th>
                                Position
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="users?.length != 0">
                        <tr *ngFor="let user of users">
                            <td>
                                {{ user?.userId }}
                            </td>
                            <td>
                                {{ user?.firstName }}
                            </td>
                            <td>
                                {{ user?.lastName }}
                            </td>
                            <td>
                                {{ user?.email }}
                            </td>
                            <td>
                                {{ user?.discipline?.name }}
                            </td>
                            <td>
                                {{ user?.position?.name }}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                            </td>
                        </tr>
                    </tfoot>
                </table>


            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" (click)="onAdd()">New Staff</button>
            </div>
        </div>
    </div>
</div>
