<div class="row" [@routerTransition]>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h4>Details</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <dl class="row">
                            <dt class="col-4">Department Code</dt>
                            <dd class="col-8">{{ department?.departmentId }}</dd>
                            <dt class="col-4">Department</dt>
                            <dd class="col-8">{{ department?.name }}</dd>
                            <dt class="col-4">Faculty(code)</dt>
                            <dd class="col-8">{{ department?.faculty.name }} ({{ department?.faculty.facultyId }})</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary mr-3" (click)="onEdit()">Edit</button>
                        <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
                        <button class="btn btn-warning float-right" (click)="onDelete()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
