<app-page-header [breadcrumbs]='breadcrumbs'></app-page-header>

<div class="p-grid" [@routerTransition]>
    <div class="p-col-6">
        <p-panel header="Add Department">
            <!-- DEAPRTMENT ID -->
            <div class="p-grid">
                <div class="p-col">
                    <strong>Department Code</strong>
                </div>
                <div class="p-col">
                    {{department?.departmentId}}
                </div>
            </div>

            <!-- NAME -->
            <div class="p-grid">
                <div class="p-col">
                    <strong>Name</strong>
                </div>
                <div class="p-col">
                    {{department?.name}}
                </div>
            </div>

            <!-- FACULTY -->
            <div class="p-grid">
                <div class="p-col">
                    <strong>Faculty</strong>
                </div>
                <div class="p-col">
                    {{department?.faculty?.name}}
                </div>
            </div>

            <p-footer>
                <div class="p-grid">
                    <div class="p-col">
                        <button type="button" pButton class="ui-button-danger mr-2" icon="pi pi-arrow-left" label="Back"
                            (click)="onBack($event)"></button>
                        <button type="button" pButton class="ui-button-primary mr-2" icon="pi pi-pencil" label="Edit"
                            (click)="onEdit($event)"></button>
                    </div>
                </div>
            </p-footer>
        </p-panel>
    </div>
</div>