<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid" [@routerTransition]>
    <div class="p-col-12">
        <form #f="ngForm" (ngsubmit)="onSubmit()">
            <p-panel header="Add Venue">
                <p-header>
                </p-header>

                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="venueId">Venue Id:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText placeholder="Venue Id" [(ngModel)]="venueInput.venueId"
                            name="venueId" #venueId="ngModel" pKeyFilter="alphanum" required>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Venue Id is required"
                            *ngIf="(venueId.touched||venueId.dirty)&&venueId.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="capacity">Capacity</label>
                    </div>
                    <div class="p-col-6">
                        <input type="number" pInputText placeholder="Venue Id" [(ngModel)]="venueInput.capacity"
                            name="capacity" #capacity="ngModel" pKeyFilter="pint" required>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Capacity is required"
                            *ngIf="(capacity.touched||capacity.dirty)&&capacity.hasError('required')">
                        </p-message>
                        <p-message severity="error" text="Minimum 10 required"
                            *ngIf="(capacity.touched||capacity.dirty)&&capacity.hasError('min')">
                        </p-message>
                    </div>
                </div>

                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="campus">Campus:</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="campuses" name="campus" placeholder="Campus"
                            [(ngModel)]="venueInput.campus" #campus="ngModel" required></p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Campus is required"
                            *ngIf="(campus.touched||campus.dirty) && campus.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="type">Type:</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="types" name="type" placeholder="Venue Type" [(ngModel)]="venueInput.type"
                            #type="ngModel" required></p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Type is required"
                            *ngIf="(type.touched||type.dirty) && (type.value==='' || type.hasError('required'))">
                        </p-message>
                    </div>
                </div>

                <p-footer>
                    <div class="p-grid">
                        <div class="p-col-1">
                            <button pButton label="Add Venue" icon="pi pi-plus" [disabled]="f.invalid"></button>
                        </div>
                        <div class="p-col-1">
                            <button pButton type="button" label="Back" icon="pi pi-arrow-left" (click)="onBack($event)"
                                class="ui-button-danger"></button>
                        </div>
                        <div class="p-col"></div>
                        <div class="p-col-1 p-col-align-end">
                            <button pButton type="button" label="Reset" icon="pi pi-refresh" (click)="onReset($event)"
                                class="ui-button-secondary"></button>
                        </div>
                    </div>
                </p-footer>
            </p-panel>
        </form>
    </div>
</div>