<div class="row" [@routerTransition]>
    <div class="col-6">
        <form [formGroup]="venueAddForm" (ngSubmit)="onAdd()" novalidate class="form">

            <div class="card">
                <div class="card-header">
                    <h5>Add Venue</h5>
                </div>
                <div class="card-body">

                    <div class="form-row">
                        <div class="form-group">
                            <label for="venueId">Venue Code</label>
                            <input formControlName="venueId" type="text" class="form-control" placeholder="Venue Code">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="capacity">Capacity</label>
                            <input formControlName="capacity" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="capacity">Campus</label>
                            <input formControlName="campus" type="text" class="form-control" placeholder="Campus">
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary mr-3">Done</button>
                            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                            <button type="button" class="btn btn-dark pull-right" (click)="onReset()">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
