<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>

<div class="card" [@routerTransition]>
  <p-toolbar styleClass="p=mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
      <button
        pButton
        pRipple
        label="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedUsers()"
        [disabled]="!selectedUsers || !selectedUsers.length"
      ></button>
    </ng-template>

    <ng-template pTemplate="right">
      <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Import"
        chooseLabel="Import"
        class="p-mr-2 p-d-inline-user"
      ></p-fileUpload>
      <button
        pButton
        pRipple
        label="Export"
        icon="pi pi-upload"
        class="p-button-help"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="users"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['userId', 'firstName', 'lastName', 'email', 'departmentId']"
    [(selection)]="selectedUsers"
    [rowHover]="true"
    dataKey="userId"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,25,50]"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage Users</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="userId">
          User ID <p-sortIcon field="userId"></p-sortIcon>
        </th>
        <th pSortableColumn="firstName">
          First Name <p-sortIcon field="firstName"></p-sortIcon>
        </th>
        <th pSortableColumn="lastName">
          Last Name <p-sortIcon field="lastName"></p-sortIcon>
        </th>
        <th pSortableColumn="departmentId">
          Department Code <p-sortIcon field="departmentId"></p-sortIcon>
        </th>
        <th pSortableColumn="workFocusName">
          Work Focus <p-sortIcon field="workFocusName"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          <p-tableCheckbox [value]="user"></p-tableCheckbox>
        </td>
        <td>{{ user.userId }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.department?.name }} ({{user.departmentId}})</td>
        <td>
          {{ user.workFocus?.name }} ({{ user.workFocus?.teachingRatio }}/{{
          user.workFocus?.researchRatio }}/{{ user.workFocus?.serviceRatio }})
        </td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2"
            (click)="editUser(user)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteUser(user)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{ users ? users.length : 0 }} users.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="userDialog"
  [style]="{ width: '50vw' }"
  header="User Details"
  [modal]="true"
  styleClass="p-fluid"
  appendTo="body"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="userId">User ID</label>
      <input
        type="text"
        pInputText
        id="userId"
        [(ngModel)]="user.userId"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !user.userId"
        >User ID is required.</small
      >
    </div>
    <div class="p-fluid p-grid p-formgrid">
      <div class="p-field p-col">
        <label for="firstName">First Name</label>
        <input
          type="text"
          pInputText
          id="firstName"
          [(ngModel)]="user.firstName"
          required
          autofocus
        />
        <small class="p-error" *ngIf="submitted && !user.firstName"
          >First Name is required.</small
        >
      </div>
      <div class="p-field p-col">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          pInputText
          id="lastName"
          [(ngModel)]="user.lastName"
          required
        />
        <small class="p-error" *ngIf="submitted && !user.lastName"
          >Last Name is required.</small
        >
      </div>
    </div>

    <div class="p-fluid p-grid p-formgrid">
      <div class="p-field p-col">
        <label for="lastName">Department</label>
        <p-dropdown
          [options]="departments"
          [(ngModel)]="user.departmentId"
          optionLabel="optionName"
          optionValue="departmentId"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          placeholder="Select a department"
          appendTo="body"
        >
        </p-dropdown>
        <small class="p-error" *ngIf="submitted && !user.departmentId"
          >Department is required.</small
        >
      </div>
      <div class="p-field p-col">
        <label for="email">Email</label>
        <input
          type="text"
          pInputText
          id="email"
          [(ngModel)]="user.email"
          required
          autofocus
        />
        <!-- <small class="p-error" *ngIf="submitted && !user.email"
              >First Name is required.</small
            > -->
      </div>
    </div>
    <div class="p-grid p-fluid p-formgrid">
      <div class="p-field p-col">
        <label for="disciplineId">Discipline</label>
        <p-multiSelect
          [options]="disicplines"
          [(ngModel)]="user.disciplineIds"
          dataKey="disciplineId"
          defaultLabel="Select a Discipline"
          optionLabel="optionName"
          selectedItemsLabel="{0} items selected"
          appendTo="body"
        ></p-multiSelect>
      </div>
      <div class="p-field p-col">
        <label for="lastName">Position</label>
        <p-dropdown
          [options]="positions"
          [(ngModel)]="user.positionId"
          optionLabel="optionName"
          optionValue="positionId"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          placeholder="Select a position"
          appendTo="body"
        >
        </p-dropdown>
      </div>
      <div class="p-field p-col">
        <label for="lastName">Work Focus (T/R/S)</label>
        <p-dropdown
          [options]="workFocuses"
          [(ngModel)]="user.workFocusName"
          optionLabel="optionName"
          optionValue="name"
          [filter]="true"
          filterBy="optionName"
          [showClear]="true"
          placeholder="Select a work focus"
          appendTo="body"
        >
        </p-dropdown>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveUser()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<p-toast></p-toast>
