<div class="d-flex flex-column">
    <div class="row__profile" [@routerTransition]>
        <div class="card row__profile--item">
            <div class="card-header">
                <h5 class="mt-0">
                    User Profile
                </h5>
            </div>
            <div class="card-body">
                <div class="d-flex flex-row justify-content-around align-content-end">
                    <div class="img__profile mr-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1024px-Circle-icons-profile.svg.png"
                            alt="Profile picture" class="img-fluid" />
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="font-weight-bold mr-3">
                                Name:
                            </div>
                            <div class="text-muted">
                                {{user?.firstName || 'Not yet added'}}
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <div class="font-weight-bold mr-3">
                                Surname:
                            </div>
                            <div class="text-muted">
                                {{user?.lastName || 'Not yet added'}}
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <div class="font-weight-bold mr-3">
                                Discipline:
                            </div>
                            <div class="text-muted">
                                {{user?.discipline?.name || 'Not yet added'}}
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <div class="font-weight-bold mr-3">
                                Position:
                            </div>
                            <div class="text-muted">
                                {{user?.position?.name || 'Not yet added'}}
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <div class="font-weight-bold mr-3">
                                Work Focus:
                            </div>
                            <div class="text-muted">
                                {{user?.workFocus?.name|| 'Not yet added' | titlecase}}
                            </div>
                        </div>
                        <!-- <div class="d-flex flex-row justify-content-between">
                                <div class="font-weight-bold mr-3">
                                    Gender:
                                </div>
                                <div class="text-muted">
                                    {{user?.gender || 'Not yet added' | titlecase}}
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <div class="font-weight-bold mr-3">
                                    Nationality:
                                </div>
                                <div class="text-muted">
                                    {{user?.nationality || 'Not yet added' | titlecase}}
                                </div>
                            </div> -->
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary" (click)="onEdit()">Edit Profile</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" (click)="onChangePassword()">Change Password</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card row__profile--item">
            <div class="card-header">
                <h5 class="mt-0">Total Workload</h5>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center align-items-center align-content-stretch">
                    <div class="w-100 h-100">
                        <canvas baseChart [data]="workloadChartData" [labels]="workloadChartLabels"
                            [chartType]="workloadChartType" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row__workload" [@routerTransition]>
        <div class="card row__workload--item">
            <div class=" card-header">
                <h6>Research</h6>
            </div>
            <div class="card-body">
                <canvas baseChart [data]="researchChartData" [labels]="researchChartLabels"
                    [chartType]="researchChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
            </div>
            <div class="card-footer">
            </div>
        </div>

        <div class="card row__workload--item">
            <div class="card-header">
                <h6>Formal Instruction</h6>
            </div>
            <div class="card-body">
                <canvas baseChart [data]="formalInstructionChartData" [labels]="formalInstructionChartLabels"
                    [chartType]="formalInstructionChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
            </div>
            <div class="card-footer">
            </div>
        </div>

        <div class="card row__workload--item">
            <div class="card-header">
                <h6>Service</h6>
            </div>
            <div class="card-body">
                <canvas baseChart [data]="supervisionChartData" [labels]="supervisionChartLabels"
                    [chartType]="supervisionChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>
