<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid" [@routerTransition]>
    <div class="p-col">
        <p-panel header="User Profile">
            <div class="p-grid">
                <div class="p-col-5">
                    <img src="{{user?.photoUrl || 'https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1024px-Circle-icons-profile.svg.png'}}"
                        alt="profile pic" class="img__profile">
                </div>
                <div class="p-col-7">
                    <div class="p-grid">
                        <div class="p-col">
                            <strong>UserId</strong>
                        </div>
                        <div class="p-col text-muted">
                            {{user?.userId}}
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-col">
                            <strong>Name</strong>
                        </div>
                        <div class="p-col text-muted">
                            {{user?.firstName}} {{user?.lastName}}
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-col">
                            <strong>Discipline</strong>
                        </div>
                        <div class="p-col text-muted">
                            {{user?.discipline?.name}}
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-col">
                            <strong>Position</strong>
                        </div>
                        <div class="p-col text-muted">
                            {{user?.position?.name}}
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-col">
                            <strong>Work Focus</strong>
                        </div>
                        <div class="p-col text-muted">
                            {{user?.workFocus?.name}}
                        </div>
                    </div>

                </div>
            </div>
            <p-footer>
                <button type="button" pButton icon="pi pi-pencil" (click)="onEdit($event)" label="Edit Profile"
                    class="mr-2"></button>
                <button type="button" pButton icon="pi pi-pencil" (click)="onChangePassword($event)"
                    label="Change Password" class="mr-2"></button>
            </p-footer>
        </p-panel>
    </div>
    <div class="p-col">
        <p-panel header="Total Workload">
            Chart goes here
        </p-panel>
    </div>
</div>
<div class="p-grid">
    <div class="p-col">
        <p-panel header="Teaching Workload">
            Teaching goes here
        </p-panel>
    </div>
    <div class="p-col">
        <p-panel header="Research Workload">
            Research goes here
        </p-panel>
    </div>
    <div class="p-col">
        <p-panel header="Service Workload">
            Service goes here
        </p-panel>
    </div>
</div>