.img__profile {
    margin: 0 2rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
}
.img-fluid {
    min-height: 100%;
}

.btn {
    min-width: 80px;
}

.row {
    &__profile {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        &--item {
            display: flex;
            flex-basis: 45%;
            flex-grow: 1;
            margin: 1rem;
        }
    }

    &__workload {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        &--item {
            display: flex;
            flex-basis: 30%;
            flex-grow: 1;
            margin: 1rem;
        }
    }
}
