<div [@routerTransition]>
    <div class="card">
        <div class="card-header">
            <h5>Modules</h5>
        </div>
        <div class="card-body">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="modulesDT"
                class="table table-hover table-active">
                <thead class="thead-light">
                    <tr>
                        <th>
                            Module ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Discipline
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="modules?.length != 0">
                    <tr *ngFor="let module of modules; let i = index">
                        <td>
                            {{ module.moduleId }}
                        </td>
                        <td>
                            {{ module.name }}
                        </td>
                        <td>
                            {{ module.discipline.name }}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="card-footer">
            <div class="row">
                <button class="btn btn-primary mr-3" (click)="onAdd()">Add Module</button>
                <button class="btn btn-primary">Add from Spreadsheet</button>
                <div class="custom-file col-3">
                    <input id="my-input" class="custom-file-input" type="file" name="" (change)="upload($event)">
                    <label for="my-input" class="custom-file-label">Upload from Spreadsheet</label>
                </div>
            </div>
        </div>
    </div>
</div>
