<div [@routerTransition]>
    <div class="card">
        <div id="presentation" class="card-header">
            <h5>Modules</h5>
        </div>
        <div class="card-body">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="modulesDT"
                class="table table-hover table-active">
                <thead class="thead-light">
                    <tr>
                        <th>
                            Module ID
                        </th>
                        <th>
                            Block ID
                        </th>
                        <th>
                            Offering Type ID
                        </th>
                        <th>
                            Qualification ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Discipline
                        </th>
                        <th>
                            Qualification
                        </th>
                        <th>
                            NQF
                        </th>
                        <th>
                            Credits
                        </th>
                        <th>
                            Block
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="modules?.length != 0">
                    <tr *ngFor="let module of modules; let i = index">
                        <td>
                            {{ module?.moduleId }}
                        </td>
                        <td>
                            {{ module?.block?.blockId }}
                        </td>
                        <td>
                            {{ module?.offeringType?.offeringTypeId }}
                        </td>
                        <td>
                            {{ module?.qualification?.qualificationId}}
                        </td>
                        <td>
                            {{ module?.name }}
                        </td>
                        <td>
                            {{ module?.discipline?.name }}
                        </td>
                        <td>
                            {{module?.qualification?.name}} ({{module?.qualification?.qualificationId}})
                        </td>
                        <td>
                            {{module?.nqfLevel}}
                        </td>
                        <td>
                            {{module?.credits}}
                        </td>
                        <td>
                            {{module?.block?.name}} ({{module?.block?.blockId}})
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="card-footer">
            <div class="row">
                <button class="btn btn-primary mr-3" (click)="onAdd()">Add Module</button>
                <button class="btn btn-info" (click)="open(content)">Upload Spreadsheet</button>
            </div>
        </div>
    </div>
</div>

<ng-template style="max-width: 60vw;" id="content" #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Modules to Import</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="custom-file col">
            <input id="my-input" class="custom-file-input" type="file" (change)="onFileSelectedExcel($event.target)">
            <label for="my-input" class="custom-file-label">Upload from Spreadsheet</label>
        </div>
        <div class="table modal__content" id="excel"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary m-3" (click)="onAddBulk()">Upload Modules</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cancel</button>
    </div>
</ng-template>
