<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>DUT Academic Workload Balancer</h1>
            <form #f="ngForm" (ngSubmit)="onLoggedIn()">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" name="userId" [(ngModel)]="loginData.userId" #userId="ngModel"
                            class="form-control input-underline input-lg" id="userId" placeholder="User ID">
                        <span *ngIf="!userId.valid && userId.touched" class="help-block">
                            <span *ngIf="userId.errors['required']">Please enter User ID</span>
                        </span>
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" [(ngModel)]="loginData.password" #password="ngModel"
                            class="form-control input-underline input-lg" id="password" placeholder="Password">
                        <span *ngIf="!password.valid && password.touched" class="help-block">
                            <span *ngIf="password.errors['required']">Please enter a password</span>
                        </span>
                    </div>
                </div>
                <!-- <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()" disabled="!loginForm.valid"> Log in </a>
                &nbsp; -->
                <div class="p-grid p-dir-col">
                    <div class="p-col">
                        <button type="button" class="btn rounded-btn mr-2" (click)="onLoggedIn()">Log In</button>
                    </div>
                    <div class="p-col">
                        <small class=""><a href="#">Forgot password?</a></small>
                    </div>

                </div>
                <!-- <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a> -->
            </form>
        </div>
    </div>
</div>