<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid" [@routerTransition]>
    <div class="p-col-6">
        <p-panel header="Module">

            <!-- MODULE ID -->
            <div class="p-grid" *ngIf="module?.moduleId">
                <div class="p-col">
                    <strong>
                        Module ID
                    </strong>
                </div>
                <div class="p-col">
                    {{module?.moduleId}}
                </div>
            </div>

            <!-- BLOCK -->
            <div class="p-grid" *ngIf="module?.block">
                <div class="p-col">
                    <strong>
                        Block
                    </strong>
                </div>
                <div class="p-col">
                    {{module?.blockId}} ({{module?.block?.name}})
                </div>
            </div>

            <!-- OFFERING TYPE -->
            <div class="p-grid" *ngIf="module?.offeringType">
                <div class="p-col">
                    <strong>
                        Offering Type
                    </strong>
                </div>
                <div class="p-col">
                    {{module?.offeringTypeId}} ({{module?.offeringType?.description}})
                </div>
            </div>

            <!-- QUALIFICATION -->
            <div class="p-grid" *ngIf="module?.qualification">
                <div class="p-col">
                    <strong>
                        Qualification
                    </strong>
                </div>
                <div class="p-col">
                    {{module?.qualificationId}} ({{module?.qualification?.name}})
                </div>
            </div>

            <!-- TYPE -->
            <div class="p-grid" *ngIf="module">
                <div class="p-col">
                    <strong>
                        Type
                    </strong>
                </div>
                <div class="p-col">
                    {{module?.type}}
                </div>
            </div>

            <!-- ASSESSMENT METHOD -->
            <div class="p-grid" *ngIf="module?.assessmentMethod">
                <div class="p-col">
                    <strong>
                        Assessment Method
                    </strong>
                </div>
                <div class="p-col">
                    {{module?.assessmentMethod}}
                </div>
            </div>

            <!-- NQF LEVEL -->
            <div class="p-grid" *ngIf="module">
                <div class="p-col">
                    <strong>
                        NQF Level
                    </strong>
                </div>
                <div class="p-col">
                    {{module?.nqfLevel}}
                </div>
            </div>

            <!-- CREDITS -->
            <div class="p-grid" *ngIf="module">
                <div class="p-col">
                    <strong>
                        Credits
                    </strong>
                </div>
                <div class="p-col">
                    {{module?.credits}}
                </div>
            </div>

            <!-- VENUE -->
            <div class="p-grid" *ngIf="module?.venue">
                <div class="p-col">
                    <strong>
                        Venue (type)
                    </strong>
                </div>
                <div class="p-col">
                    {{module?.venueId}} ({{module?.venue?.type}})
                </div>
            </div>

            <!--  -->
            <div class="p-grid">
                <div class="p-col">
                    <strong>

                    </strong>
                </div>
                <div class="p-col">

                </div>
            </div>

            <!--  -->
            <div class="p-grid">
                <div class="p-col">
                    <strong>

                    </strong>
                </div>
                <div class="p-col">

                </div>
            </div>

            <p-footer>
                <div class="p-grid">
                    <div class="p-col-10 p-col-align-left">
                        <button pButton type="button" label="Back" icon="pi pi-arrow-left" (click)="onBack($event)"
                            class="ui-button-danger mr-2"></button>
                        <button pButton type="button" label="Edit" icon="pi pi-pencil"
                            (click)="onEdit($event)"></button>
                    </div>
                </div>
            </p-footer>
        </p-panel>

    </div>
</div>