<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>

<div class="card" [@routerTransition]>
  <p-toolbar styleClass="p=mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
      <button
        pButton
        pRipple
        [label]="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedBlocks()"
        [disabled]="!selectedBlocks || !selectedBlocks.length"
      ></button>
    </ng-template>

    <ng-template pTemplate="right">
      <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Import"
        chooseLabel="Import"
        class="p-mr-2 p-d-inline-block"
      ></p-fileUpload>
      <button
        pButton
        pRipple
        label="Export"
        icon="pi pi-upload"
        class="p-button-help"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="blocks"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['blockId', 'name', 'description']"
    [(selection)]="selectedBlocks"
    [rowHover]="true"
    dataKey="blockId"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage Blocks</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="blockId">
          Block ID <p-sortIcon field="blockId"></p-sortIcon>
        </th>
        <th pSortableColumn="name">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="description">
          Description <p-sortIcon field="description"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-block>
      <tr>
        <td>
          <p-tableCheckbox [value]="block"></p-tableCheckbox>
        </td>
        <td>{{ block.blockId }}</td>
        <td>{{ block.name }}</td>
        <td>{{ block.description }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2"
            (click)="editBlock(block)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteBlock(block)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{ blocks ? blocks.length : 0 }} blocks.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="blockDialog"
  [style]="{ width: '450px' }"
  header="Block Details"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="blockId">BlockId</label>
      <input
        type="text"
        pInputText
        id="blockId"
        [(ngModel)]="block.blockId"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !block.blockId"
        >Block ID is required.</small
      >
    </div>
    <div class="p-field">
      <label for="name">name</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="block.name"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !block.name"
        >Block ID is required.</small
      >
    </div>
    <div class="p-field">
      <label for="description">description</label>
      <textarea
        id="description"
        pInputTextarea
        [(ngModel)]="block.description"
        required
        rows="3"
        cols="20"
      ></textarea>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveBlock()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<p-toast></p-toast>
