<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>

<div class="card" [@routerTransition]>
  <p-toolbar styleClass="p=mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
      <button
        pButton
        pRipple
        label="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedStudents()"
        [disabled]="!selectedStudents || !selectedStudents.length"
      ></button>
    </ng-template>

    <ng-template pTemplate="right">
      <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Import"
        chooseLabel="Import"
        class="p-mr-2 p-d-inline-student"
      ></p-fileUpload>
      <button
        pButton
        pRipple
        label="Export"
        icon="pi pi-upload"
        class="p-button-help"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="students"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['studentId', 'name', 'description']"
    [(selection)]="selectedStudents"
    [rowHover]="true"
    dataKey="studentId"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage Students</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="studentId">
          Student ID <p-sortIcon field="studentId"></p-sortIcon>
        </th>
        <th pSortableColumn="name">
          First Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="description">
          Last Name <p-sortIcon field="description"></p-sortIcon>
        </th>
        <th pSortableColumn="type">
          Type <p-sortIcon field="type"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-student>
      <tr>
        <td>
          <p-tableCheckbox [value]="student"></p-tableCheckbox>
        </td>
        <td>{{ student.studentId }}</td>
        <td>{{ student.firstName }}</td>
        <td>{{ student.lastName }}</td>
        <td>{{ student.type}}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2"
            (click)="editStudent(student)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteStudent(student)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{ students ? students.length : 0 }} students.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="studentDialog"
  [style]="{ width: '450px' }"
  header="Student Details"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="studentId">Student ID</label>
      <input
        type="text"
        pInputText
        id="studentId"
        [(ngModel)]="student.studentId"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !student.studentId"
        >Student ID is required.</small
      >
    </div>
    <div class="p-field">
      <label for="firstName">First Name</label>
      <input
        type="text"
        pInputText
        id="firstName"
        [(ngModel)]="student.firstName"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !student.firstName"
        >First name is required.</small
      >
    </div>
    <div class="p-field">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        pInputText
        id="lastName"
        [(ngModel)]="student.lastName"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !student.lastName"
        >Last name is required.</small
      >
    </div>
    <div class="p-field">
      <label for="type">Type</label>
      <p-dropdown
          [options]="types"
          [(ngModel)]="student.type"
          optionLabel=""
          optionValue=""
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          placeholder="Select a block"
          appendTo="body"
        >
        </p-dropdown>
      <small class="p-error" *ngIf="submitted && !student.lastName"
        >Last name is required.</small
      >
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveStudent()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<p-toast></p-toast>
