<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid" [@routerTransition]>
    <div class="p-col">
        <form #f="ngForm" (ngSubmit)="onSubmit()">
            <p-panel header="Add Academic Administration Activity">

                <!-- USER -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="userId">User ID</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText [(ngModel)]="userId" [ngModelOptions]="{standalone: true}"
                            [disabled]="true">
                    </div>
                    <div class="p-col-4"></div>
                </div>

                <!-- DUTY -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="dutyId">
                            Duty ID
                        </label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText [(ngModel)]="dutyId" [ngModelOptions]="{standalone: true}"
                            [disabled]="true">
                    </div>
                    <div class="p-col-4"></div>
                </div>

                <!-- TITLE -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="title">Title</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="titles" optionLabel="label" placeholder="Select Title" name="title"
                            [(ngModel)]="selectedTitle" #title="ngModel" appendTo="body" showClear="true"
                            [filter]="true" filterBy="label, value.value" required>
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Title is required"
                            *ngIf="(title.touched || title.dirty) && title.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <!-- QUALIFICATIONS -->
                <div class="p-grid" *ngIf="selectedTitle?.value === '1'">
                    <div class="p-col-2">
                        <label for="qualification">Qualification</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="qualifications" optionLabel="name" [(ngModel)]="selectedQualification"
                            name="qualification" #qualification="ngModel" placeholder="Select a qualification"
                            [showClear]="true" [filter]="true" filerBy="label, value.qualificationId"></p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Title is required"
                            *ngIf="(qualification.touched || qualification.dirty) && qualification.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <!-- DETAILS -->
                <div class="p-grid">
                    <div class="p-col-2">Additional Details(optional)</div>
                    <div class="p-col-6">
                        <textarea type="text" pInputTextarea [rows]="5" [cols]=[110] name="description"
                            [(ngModel)]="activityModel.description" #description="ngModel"
                            placeholder="Option details about the admin duty"></textarea>
                    </div>
                    <div class="p-col-4">
                    </div>
                </div>

                <p-footer>
                    <div class="p-grid">
                        <div class="p-col-10 p-col-align-left">
                            <button type="button" pButton icon="pi pi-arrow-left" label="Back" (click)="onBack($event)"
                                class="ui-button-danger mr-2"></button>
                            <button pButton icon="pi pi-plus" label="Add Activity" class=""
                                [disabled]="f.invalid"></button>
                        </div>
                        <div class="p-col-2">
                            <button type="button" pButton icon="pi pi-refresh" label="Reset" (click)="onReset($event)"
                                class="ui-button-secondary"></button>
                        </div>
                    </div>
                </p-footer>

            </p-panel>
        </form>
    </div>
</div>