<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid">
    <div class="p-col">
        <p-panel header="Add Module">

            <form [formGroup]="moduleAddForm" (ngSubmit)="onAdd()">
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="moduleId">Module ID:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText placeholder="Module ID" formControlName="moduleId">
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Module ID is required"
                            *ngIf="(moduleId.touched || moduleId.dirty) && moduleId.hasError('required')">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="name">Name:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText placeholder="Name" formControlName="name">
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Name is required"
                            *ngIf="(name.touched || name.dirty) && name.hasError('required')">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="type">Type:</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="types" formControlName="type" placeholder="Select module type"
                            [showClear]="true" appendTo="body" [filter]="true" filterBy="label">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text=" is required"
                            *ngIf="(type.touched || type.dirty) && type.hasError('required')">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="assessmentMethod">Assessment Method:</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="assessmentMethods" placeholder="Select assessment method"
                            formControlName="assessmentMethod" [showClear]="true" appendTo="body" [filter]="true"
                            filterBy="label"></p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text=" is required"
                            *ngIf="(assessmentMethod.touched || assessmentMethod.dirty) && assessmentMethod.hasError('required')">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="nqfLevel">NQF Level:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText placeholder="NQF Level" formControlName="nqfLevel"
                            pkeyFilter="num">
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="NQF Level is required"
                            *ngIf="(nqfLevel.touched || nqfLevel.dirty) && nqfLevel.hasError('required')">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="credits">Credits:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText placeholder="NQF Level" formControlName="credits"
                            pkeyFilter="num">
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Credits is required"
                            *ngIf="(credits.touched || credits.dirty) && credits.hasError('required')">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="block">Block</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="blocks" optionLabel="name" formControlName="block"
                            placeholder="Select block" [showClear]="true" appendTo="body" [filter]="true"
                            filterBy="label"></p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Block is required"
                            *ngIf="(block.touched || block.dirty) && block.hasError('required')">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="qualification">Qualification</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="qualifications" optionLabel="name" formControlName="qualification"
                            placeholder="Select qualification" [showClear]="true" appendTo="body" [filter]="true"
                            filterBy="label">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Qualification is required"
                            *ngIf="(qualification.touched || qualification.dirty) && qualification.hasError('required')">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="offeringType">Offering Type</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="offeringTypes" optionLabel="description" formControlName="offeringType"
                            placeholder="Select offering type" [showClear]="true" appendTo="body" [filter]="true"
                            filterBy="label">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Offering Type is required"
                            *ngIf="(offeringType.touched || offeringType.dirty) && offeringType.hasError('required')">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="discipline">Discipline</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="disciplines" optionLabel="name" formControlName="discipline"
                            placeholder="Select discipline" [showClear]="true" appendTo="body" [filter]="true"
                            filterBy="label">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Discipline is required"
                            *ngIf="(discipline.touched || discipline.dirty) && discipline.hasError('required')">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="venue">Venue</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="venues" optionLabel="venueId" formControlName="venue"
                            placeholder="Select venue" [showClear]="true" appendTo="body" [filter]="true"
                            filterBy="label">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Venue is required"
                            *ngIf="(venue.touched || venue.dirty) && venue.hasError('required')">
                        </p-message>
                    </div>
                </div>
            </form>

            <p-footer>
                <div class="p-grid">
                    <div class="p-col p-justify-start">
                        <button pButton label="Add Module" icon="pi pi-plus" [disabled]="moduleAddForm.invalid"
                            class="mr-2"></button>
                        <button pButton type="button" label="Back" icon="pi pi-arrow-left" (click)="onBack()"
                            class="ui-button-danger"></button>
                    </div>
                    <div class="p-col p-justify-end">
                        <button pButton type="button" label="Reset" icon="pi pi-refresh" (click)="onReset()"
                            class="ui-button-secondary"></button>
                    </div>
                </div>
            </p-footer>
        </p-panel>
    </div>
</div>