<div class="row" [@routerTransition]>
    <div class="col-6">
        <form [formGroup]="moduleAddForm" (ngSubmit)="onAdd()" class="form">
            .<div class="card">
                <div class="card-header">
                    <h5>Add Module</h5>
                </div>
                <div class="card-body">

                    <div class="form-row">
                        <div class="form-group col">
                            <label for="moduleId"><strong>Module ID</strong></label>
                            <input formControlName="moduleId" type="text" class="form-control" placeholder="Module ID">
                            <div *ngIf="moduleId.errors" class="">
                                <small *ngIf="moduleId.touched && moduleId.hasError('required')"
                                    class="text-danger">Module id is
                                    required</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label for="name"><strong>Name</strong></label>
                            <input formControlName="name" type="text" class="form-control" placeholder="Module name">
                            <div *ngIf="name.errors">
                                <small *ngIf="name.touched && name.hasError('required')" class="text-danger">Module name
                                    is required</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label for="type"><strong>Module Type</strong></label>
                            <select formControlName="type" class="custom-select">
                                <option *ngFor="let type of types" [value]="type">{{type}}</option>
                            </select>
                            <div *ngIf="type.errors">
                                <small *ngIf="type.touched && type.hasError('required')" class="text-danger">Select a
                                    module type</small>
                            </div>
                        </div>
                        <div class="form-goup col">
                            <label for="assessmentMethod"><strong>Assessment Method</strong></label>
                            <select formControlName="assessmentMethod" class="custom-select">
                                <option *ngFor="let assessmentMethod of assessmentMethods" [value]="assessmentMethod">
                                    {{assessmentMethod}}</option>
                            </select>
                            <div *ngIf="assessmentMethod.errors">
                                <small *ngIf="assessmentMethod.touched && assessmentMethod.hasError('required')"
                                    class="text-danger">Select an assessment method</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label for="nqfLevel"><strong>NQF Level</strong></label>
                            <input formControlName="nqfLevel" type="text" class="form-control">
                        </div>
                        <div class="form-goup col">
                            <label for="qualificationId"><strong>Qualification</strong></label>
                            <select formControlName="qualificationId" class="custom-select">
                                <option *ngFor="let qualification of qualifications"
                                    [value]="qualification.qualificationId">({{qualification.qualificationId}}) -
                                    {{qualification.name}}</option>
                            </select>
                            <div *ngIf="qualificationId.errors">
                                <small *ngIf="qualificationId.touched && qualificationId.hasError('required')"
                                    class="text-danger">Select a qualification</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label for="offeringTypeId"><strong>Offering Type</strong></label>
                            <select formControlName="offeringTypeId" class="custom-select">
                                <option *ngFor="let offeringType of offeringTypes"
                                    [value]="offeringType.offeringTypeId">({{offeringType.offeringTypeId}}) -
                                    {{offeringType.description}}</option>
                            </select>
                            <div *ngIf="offeringTypeId.errors">
                                <small *ngIf="offeringTypeId.touched && offeringTypeId.hasError('required')"
                                    class="text-danger">Select an offering type</small>
                            </div>
                        </div>
                        <div class="form-group col">
                            <div class="form-group">
                                <label for="disciplineId"><strong>Discipline</strong></label>
                                <select formControlName="disciplineId" class="custom-select">
                                    <option *ngFor="let discipline of disciplines" [value]="discipline.disciplineId">
                                        ({{discipline.disciplineId}}) -
                                        {{discipline.name | titlecase}}</option>
                                </select>
                                <div *ngIf="disciplineId.errors">
                                    <small *ngIf="disciplineId.touched && disciplineId.hasError('required')"
                                        class="text-danger">Select a discipline</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label for="blockId"><strong>Block</strong></label>
                            <select formControlName="blockId" class="custom-select">
                                <option *ngFor="let block of blocks" [value]="block.blockId">({{block.blockId}}) -
                                    {{block.name}}</option>
                            </select>
                            <div *ngIf="blockId.errors">
                                <small *ngIf="blockId.touched && blockId.hasError('required')"
                                    class="text-danger">Select a block</small>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label for="credits"><strong>Credits</strong></label>
                            <input formControlName="credits" type="number" class="form-control" placeholder="Credits">
                            <div *ngIf="credits.errors">
                                <small *ngIf="credits.touched && credits.hasError('required')"
                                    class="text-danger">Module credits are required</small>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label for="venueId"><strong>Venue</strong></label>
                            <select formControlName="venueId" class="custom-select">
                                <option *ngFor="let venue of venues" [value]="venue.venueId">{{venue.venueId}}
                                    ({{venue.campus}}) - {{venue.capacity}}</option>
                            </select>
                            <div *ngIf="venueId.errors">
                                <small *ngIf="venueId.touched && venueId.hasError('required')" class="text-danger">Venue
                                    is required</small>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <button class="btn btn-primary mr-3" [disabled]="moduleAddForm.invalid">Add</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                    <button type="button" class="btn btn-dark float-right" (click)="onReset()">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
