<div [@routerTransition]>
    <div class="row">
        <div class="col-6">
            <form [formGroup]="researchActivityForm" class="form">
                <div class="card">
                    <div class="card-header">
                        New Research Activity
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="outputType">Output Type: </label>
                            <select formControlName="outputType" class="form-control">
                                <option *ngFor="let outputType of outputTypes; let i = index" [value]="outputType">
                                    {{ outputType }}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="researchLocation">Research Location (URL)</label>
                            <input type="text" formControlName="researchLocation" class="form-control"
                                placeholder="e.g. https://ieeexplore.ieee.org/document/7073822">
                        </div>

                        <div class="form-group">
                            <label for="researchLocation">Evidence (If applicable)</label>
                            <input type="file" class="form-control">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary mr-3" (click)="onAdd()"
                            [disabled]="researchActivityForm.invalid">
                            Confirm
                        </button>
                        <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h6>User Details</h6>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="">
                                <strong>Name</strong>
                            </div>
                            <div class="text-muted">
                                {{user?.firstName}} {{user?.lastName}}
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <div class="">
                                <strong>User ID</strong>
                            </div>
                            <div class="text-muted">
                                {{user?.userId}}
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <div class="">
                                <strong>Discipline</strong>
                            </div>
                            <div class="text-muted">
                                {{user?.discipline?.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
