<div class="row" [@routerTransition]>
    <div class="col-6">
        <form [formGroup]="staffAddForm" class="form">
            <div class="card">
                <div class="card-header">
                    <h5>Add Staff</h5>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <label for="userId" class="col-form-label">Staff ID</label>
                        <input type="text" class="form-control" formControlName="userId" placeholder="Staff ID">
                        <!-- <span class="alert-danger"
                            *ngIf="!staffAddForm.get('userId').valid && staffAddForm.get('userId').touched">
                            <span *ngIf="staffAddForm.get('userId').errors['required']">Please add a Staff ID</span>
                        </span> -->
                    </div>


                    <div class="form-group">
                        <label for="firstName" class="col-form-label">First Name</label>
                        <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
                        <!-- <span class="alert-danger"
                            *ngIf="!staffAddForm.get('firstName').valid && staffAddForm.get('firstName').touched">
                            <span *ngIf="staffAddForm.get('firstName').errors['required']">First Name field is
                                required</span>
                        </span> -->
                    </div>

                    <div class="form-group">
                        <label for="lastName" class="col-form-label">Last Name</label>
                        <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
                        <!-- <span class="alert-danger"
                            *ngIf="!staffAddForm.get('lastName').valid && staffAddForm.get('lastName').touched">
                            <span *ngIf="staffAddForm.get('lastName').errors['required']">Last Name field is
                                required</span>
                        </span> -->
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-form-label">Email</label>
                        <input type="email" class="form-control" formControlName="email" placeholder="Email">
                        <!-- <span class="alert-danger"
                            *ngIf="!staffAddForm.get('email').valid && staffAddForm.get('email').touched">
                            <span *ngIf="staffAddForm.get('email').errors['required']">Email field is required</span>
                            <span *ngIf="staffAddForm.get('email').errors['email']">Please enter a valid email</span>
                        </span> -->
                    </div>

                    <div class="form-group">
                        <label for="positionId" class="col-form-label">Select a Position</label>
                        <select formControlName="positionId" class="custom-select">
                            <option *ngFor="let position of positions" [value]="position.positionId">
                                {{ position.name }}</option>
                        </select>
                        <!-- <span class="alert-danger"
                                *ngIf="!staffAddForm.get('positionId').valid && staffAddForm.get('positionId').touched">
                                <span *ngIf="!positionId.get('value').errors['required']">
                                    Please select a position
                                </span>
                            </span> -->
                    </div>

                </div>
                <div class="card-footer">
                    <button class="btn btn-primary mr-3" (click)="onAdd()" [disabled]="!staffAddForm.valid">Add
                        Staff</button>
                    <button class="btn btn-danger" (click)="onBack()">Cancel</button>
                    <button class="float-right btn btn-dark" (click)="onReset()">Reset</button>
                </div>
            </div>
        </form>
    </div>

</div>