<div [@routerTransition]>
    <app-page-header [heading]="'Activities'" [icon]="'fa-tasks'"></app-page-header>

</div>

<!-- <div class="card" [@routerTransition]>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <ul class="nav nav-pills ">
                    <li class="nav-item">
                        <a class="btn btn-dark nav-link" [routerLink]="['lecturing']" routerLinkActive="active">Formal Instruction</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-dark nav-link" [routerLink]="['research']" routerLinkActive="active">Research</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-dark nav-link" [routerLink]="['community-instruction']" routerLinkActive="active">Community Instruction</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-dark nav-link" [routerLink]="['public-service']" routerLinkActive="active">Public Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-dark nav-link" [routerLink]="['supervision']" routerLinkActive="active">Supervision</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> -->

<router-outlet></router-outlet>
