<div [@routerTransition]>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header text-muted">
                    <h5>New Task</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="prepModuleForm" (ngSubmit)="onAdd()" novalidate class="form">

                        <div class="form-group row">
                            <div class="col-6">
                                <label for="discipline">Select a Discipline</label>
                                <select formControlName="discipline" type="text" class="custom-select"
                                    (change)="onSelectedDiscipline($event)">
                                    <option *ngFor="let discipline of disciplines" [value]="discipline.disciplineId">
                                        {{discipline?.name}}</option>
                                </select>
                            </div>
                            <div class="col-6" [hidden]="moduleDropdown == false">
                                <label for="module">Select a Module</label>
                                <select formControlName="module" type="text" class="custom-select"
                                    (change)="onSelectedModule($event)">
                                    <option *ngFor="let module of modules" [value]="module.moduleId"
                                        (change)="onSelectedModule($event)">{{module?.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" [hidden]="stackRadio == false">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="stacked" name="example"
                                    value="customEx" (change)="onSelectedStack($event)">
                                <label class="custom-control-label" for="stacked">Stacked</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="not-stacked" name="example"
                                    value="customEx" (change)="onSelectedStack($event)">
                                <label class="custom-control-label" for="not-stacked">Not Stacked</label>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="card-footer text-muted">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary">Done</button>
                            <button type="button" class="btn btn-dark pull-right" (click)="onReset()">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card h-100">
                <div class="card-body">
                    <div class="dl">
                        <div class="row">
                            <dd class="col-4">
                                Selected Discipline:
                            </dd>
                            <dt class="col-8">
                                <p class="text-muted">{{discipline?.name || 'Select a Discipline'}}</p>
                            </dt>
                        </div>
                        <div class="row">
                            <dd class="col-4">
                                Selected Module:
                            </dd>
                            <dt class="col-8">
                                <p class="text-muted">{{module?.name || 'Select a Module'}}</p>
                            </dt>
                        </div>

                        <!-- <div class="row">
                            <dd class="col-4">
                                Workload:
                            </dd>
                            <dt class="col-8">
                                <p class="text-muted">Workload hours here</p>
                            </dt>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
