<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid" [@routerTransition]>
    <div class="p-col">
        <p-panel header="Venues">
            <p-header>

            </p-header>

            <p-table [columns]="cols" [value]="venues">
                <ng-template pTemplate="caption">
                    Venues
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let column of columns">
                            {{column.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-venue let-columns="columns">
                    <tr>
                        <td *ngFor="let column of columns">
                            {{venue[column.field]}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer" let-columns>
                    <tr>
                        <td *ngFor="let column of columns">
                            {{column.header}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">

                </ng-template>
            </p-table>


            <p-footer>
                <button pButton type="button" label="Add Venue" icon="pi pi-plus" iconPos="left"
                    (click)="onAdd()"></button>
            </p-footer>
        </p-panel>
    </div>
</div>