<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid" [@routerTransition]>
    <div class="p-col">
        <p-panel header="Add Enrollment">
            <form [formGroup]="enrollmentAddForm" (ngSubmit)="onAdd()">
                <div class="p-grid">
                    <div class="p-col-2">
                        Enrollment Year
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText formControlName="enrollmentYear">
                    </div>
                    <div class="p-col-4">
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        Qualification
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="qualifications" formControlName="selectedQualification"
                            placeholder="Select a qualification" optionLabel="name" [showClear]="true" appendTo="body"
                            [filter]="true" filterBy="label">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Qualification is required"
                            *ngIf="(selectedQualification.touched||selectedQualification.dirty)&&selectedQualification.hasError('required')">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        First Year Estimated
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText formControlName="firstYearEstimated">
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Qualification is required"
                            *ngIf="(firstYearEstimated.touched||firstYearEstimated.dirty)&&firstYearEstimated.hasError('required')">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        Second Year Estimated
                    </div>
                    <div class="p-col-6">
                        <input type="number" pInputText formControlName="secondYearEstimated">
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Qualification is required"
                            *ngIf="(secondYearEstimated.touched||secondYearEstimated.dirty)&&secondYearEstimated.hasError('required')">
                        </p-message>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-2">
                        First Year Estimated
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText formControlName="thirdYearEstimated">
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Qualification is required"
                            *ngIf="(thirdYearEstimated.touched||thirdYearEstimated.dirty)&&thirdYearEstimated.hasError('required')">
                        </p-message>
                    </div>
                </div>
            </form>

            <p-footer>
                <div class="p-grid">
                    <div class="p-col p-justify-start">
                        <button pButton label="Add Activity" icon="pi pi-plus" [disabled]="enrollmentAddForm.invalid"
                            class="mr-2"></button>
                        <button pButton type="button" label="Back" icon="pi pi-arrow-left" (click)="onBack($event)"
                            class="ui-button-danger"></button>
                    </div>
                    <div class="p-col p-justify-end">
                        <button pButton type="button" label="Reset" icon="pi pi-refresh" (click)="onReset($event)"
                            class="ui-button-secondary"></button>
                    </div>
                </div>
            </p-footer>
        </p-panel>
    </div>
</div>