<div class="row" [@routerTransition]>
    <div class="col-4">
        <form [formGroup]="departmentAddForm" (ngSubmit)="onAdd()" novalidate class="form">

            <div class="card">
                <div class="card-header">
                    <h5>Add Faculty</h5>
                </div>
                <div class="card-body">

                    <div class="form-row" *ngIf="faculties">
                        <div class="form-group col">
                            <label for="facultyId" class="col-form-label">Select a Faculty</label>
                            <select formControlName="facultyId" class="form-control">
                                <option *ngFor="let faculty of faculties; let i=index;" [value]="faculty?.facultyId">
                                    {{ faculty?.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label for="facultyId">Department Code</label>
                            <input formControlName="departmentId" type="text" class="form-control"
                                placeholder="Department Code">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label for="name">Department Name</label>
                            <input formControlName="name" type="text" class="form-control"
                                placeholder="Department Name">
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary">Add</button>
                            <button type="button" class="btn btn-danger ml-3" (click)="onCancel()">Cancel</button>
                            <button type="button" class="btn btn-dark pull-right" (click)="onReset()">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
