<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid" [@routerTransition]>
    <div class="p-col">
        <form #f="ngForm" (ngSubmit)="onSubmit()">
            <p-panel header="Add Department">

                <!-- DEPARTMENT ID -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="departmentId">
                            Department ID
                        </label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText [(ngModel)]="departmentInput.departmentId" name="departmentId"
                            #departmentId="ngModel" pKeyFilter="num" placeholder="Department ID" required>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Department is required"
                            *ngIf="(departmentId.touched||departmentId.dirty)&&(departmentId.value===''||departmentId.hasError('required'))">
                        </p-message>
                    </div>
                </div>

                <!-- NAME -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="name">
                            Name
                        </label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText [(ngModel)]="departmentInput.name" name="name" #name="ngModel"
                            placeholder="Department name" required>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Department name is required"
                            *ngIf="(name.touched||name.dirty)&&(name.value===''||name.hasError('required'))">
                        </p-message>
                    </div>
                </div>

                <!-- FACULTY -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="faculty">
                            Faculty
                        </label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="faculties" [(ngModel)]="selectedFaculty" name="faculty"
                            #faculty="ngModel" placeholder="Select a faculty" optionLabel="name" [showClear]="true"
                            [filter]="true" filterBy="label" appendTo="body" [resetFilterOnHide]="true" required>
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Faculty is required"
                            *ngIf="(faculty.touched||faculty.dirty)&&(faculty.value===''||faculty.hasError('required'))">
                        </p-message>
                    </div>
                </div>

                <!-- HEAD OF DEAPARTMENT -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="hod">
                            Head of Department
                        </label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="users" [(ngModel)]="selectedHod" name="hod" #hod="ngModel"
                            placeholder="Select a hod" optionLabel="label" [showClear]="true" [filter]="true"
                            filterBy="label" appendTo="body" [resetFilterOnHide]="true">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Head of department is required"
                            *ngIf="(hod.touched||hod.dirty)&&(hod.value===''||hod.hasError('required'))">
                        </p-message>
                    </div>
                </div>

                <p-footer>
                    <div class="p-grid" *ngIf="!isSubmitting; else spinner">
                        <div class="p-col">
                            <button type="button" pButton label="Back" class="ui-button-danger mr-2"
                                icon="pi pi-arrow-left" (click)="onBack($event)"></button>
                            <button pButton label="Save" class="ui-button-primary" icon="pi pi-plus"
                                [disabled]="f.untouched||(f.touched&&f.invalid)"></button>
                        </div>
                        <div class="p-col-2">
                            <button type="button" pButton label="Reset" class="ui-button-secondary" icon="pi pi-refresh"
                                (click)="onReset($event)"></button>
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-col">
                            <ng-template #spinner>
                                <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="6"
                                    fill="#EEEEEE"  animationDuration=".5s"></p-progressSpinner>
                            </ng-template>
                        </div>
                    </div>

                </p-footer>
            </p-panel>
        </form>
    </div>
</div>