<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid" [@routerTransition]>
    <div class="p-col-6">
        <p-panel header="Research Activity">

            <!-- Duty -->
            <div class="p-grid">
                <div class="p-col">
                    <strong>Activity Type(Duty)</strong>
                </div>
                <div class="p-col">
                    {{ activity?.duty?.name }}({{ activity?.duty?.dutyId}})
                </div>
            </div>

            <!-- Output -->
            <div class="p-grid">
                <div class="p-col">
                    <strong>Output</strong>
                </div>
                <div class="p-col">
                    {{activity?.output}}
                </div>
            </div>

            <!-- Conference -->
            <div class="p-grid" *ngIf="activity?.conferenceActivities?.length">
                <div class="p-col">
                    <strong>Conference Activity</strong>
                </div>
                <div class="p-col">
                    <div *ngFor="let item of activity?.conferenceActivities">
                        {{item}}
                    </div>
                </div>
            </div>

            <!-- Authors -->
            <div class="p-grid" *ngIf="activity?.authors?.length">
                <div class="p-col">
                    <strong>Authors</strong>
                </div>
                <div class="p-col">
                    <div *ngFor="let item of activity?.authors">
                        {{item}}
                    </div>
                </div>
            </div>

            <!-- URL -->
            <div class="p-grid" *ngIf="activity?.url">
                <div class="p-col">
                    <strong>Journal URL</strong>
                </div>
                <div class="p-col">
                    <div>
                        <a href="{{activity?.url}}" target="_blank">{{activity?.url}}</a>
                    </div>
                </div>
            </div>
            <!-- Title -->
            <div class="p-grid">
                <div class="p-col">
                    <strong>Title</strong>
                </div>
                <div class="p-col">
                    {{activity?.title}}
                </div>
            </div>

            <!-- Dates -->
            <div class="p-grid">
                <div class="p-col">
                    <strong>Date(s)</strong>
                </div>
                <div class="p-col">
                    <div *ngFor="let date of activity?.dates">
                        {{date | date}}
                    </div>
                </div>
            </div>

            <!-- Details -->
            <div class="p-grid" *ngIf="activity?.details">
                <div class="p-col">
                    <strong>Details</strong>
                </div>
                <div class="p-col">
                    {{activity?.details}}
                </div>
            </div>

            <!-- Approval Status -->
            <div class="p-grid">
                <div class="p-col">
                    <strong>Approval Status</strong>
                </div>
                <div class="p-col">
                    {{ activity?.approvalStatus }}
                </div>
            </div>

            <!-- Evidence -->
            <div class="p-grid" *ngIf="activity?.evidence">
                <div class="p-col">
                    <strong>Evidence</strong>
                </div>
                <div class="p-col">
                    <a href="{{activity?.evidence}}" target="_blank">Download</a>
                </div>
            </div>

            <p-footer>
                <div class="p-grid">
                    <div class="p-col p-col-align-left">
                        <button type="button" pButton icon="pi pi-arrow-left" (click)="onBack($event)" label="Back"
                            class="ui-button-danger mr-2"></button>
                        <button type="button" pButton icon="pi pi-pencil" (click)="onEdit($event)" label="Edit"
                            class=""></button>
                    </div>
                </div>
            </p-footer>
        </p-panel>
    </div>
</div>