<div class="login-page" [@routerTransition]>
    <flash-messages></flash-messages>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>E-Workload Balance System</h1>
            <form [formGroup]="">
                <!-- <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" formControlName="userId" id="userId" placeholder="User/Staff ID">
                        <span *ngIf="!signupForm.get('userId').valid && signupForm.get('userId').touched" class="help-block">
                            <span *ngIf="signupForm.get('userId').errors['required']">User ID is required</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" formControlName="password" id="password" placeholder="Password">
                        <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched" class="help-block">
                            <span *ngIf="signupForm.get('password').errors['required']">Password field is required</span>
                        </span>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" formControlName="firstName" id="firstName" placeholder="First Name">
                        <span *ngIf="!signupForm.get('firstName').valid && signupForm.get('firstName').touched" class="help-block">
                            <span *ngIf="signupForm.get('firstName').errors['required']">First Name field is required</span>
                        </span>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" formControlName="lastName" id="lastName" placeholder="Last Name">
                        <span *ngIf="!signupForm.get('lastName').valid && signupForm.get('lastName').touched" class="help-block">
                            <span *ngIf="signupForm.get('lastName').errors['required']">Last Name field is required</span>
                        </span>
                    </div>
                </div>
                <!-- <a class="btn rounded-btn" [routerLink]="['/dashboard']"> Register </a>&nbsp; -->
                <button type="click" class="btn rounded-btn" (click)="onSignup()">Register</button>
                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a> -->
            </form>
        </div>
    </div>
</div>
