<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid" [@routerTransition]>
    <div class="p-col-6">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onEdit()">

            <p-panel header="Change Password">
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="oldPassword">Old Password:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="password" pPassword promptLabel="Enter Old Password" formControlName="oldPassword"
                            feedback="false">
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Old Password field is required"
                            *ngIf="(oldPassword.touched||oldPassword.dirty)&&oldPassword.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="newPassword">New Password:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="password" pPassword promptLabel="Enter New Password" formControlName="newPassword">
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="New Password field is required"
                            *ngIf="(newPassword.touched||newPassword.dirty)&&newPassword.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="confirmPassword">Confirm New Password:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="password" pPassword promptLabel="Confirm New Password"
                            formControlName="confirmPassword" feedback="false">
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Confirm field is required"
                            *ngIf="(confirmPassword.touched||confirmPassword.dirty)&&confirmPassword.hasError('required')">
                        </p-message>
                        <p-message severity="error" text="Passwords do not match"
                            *ngIf="((confirmPassword.touched&&newPassword.touched)||(confirmPassword.dirty&&newPassword.dirty))&&passwordMatch===false">
                        </p-message>
                    </div>
                </div>

                <p-footer>
                    <div class="p-grid">
                        <div class="p-col">
                            <button type="button" pButton icon="pi pi-arrow-left" label="Back" (click)="onBack($event)"
                                class="ui-button-danger mr-2">
                            </button><button pButton icon="pi pi-pencil" label="Save"
                                [disabled]="changePasswordForm.invalid&&passwordMatch===true"></button></div>
                        <div class="p-col-2">
                            <button type="button" pButton icon="pi pi-refresh" label="Reset" (click)="onReset($event)"
                                class="ui-button-secondary"></button>
                        </div>
                    </div>

                </p-footer>

            </p-panel>
        </form>
    </div>
</div>