<div class="row" [@routerTransition]>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onEdit()" class="col-4">
        <div class="card">
            <div class="card-header">
                <h5>Change Password</h5>
            </div>
            <div class="card-body">

                <div class="form-group">
                    <label for="">Old password</label>
                    <input type="password" formGroupName="oldPassword" class="form-control" placeholder="">
                </div>
                <div class="form-group">
                    <label for="">New password</label>
                    <input type="password" formGroupName="newPassword" class="form-control" placeholder=""
                        aria-describedby="helpId">
                    <small id="helpId" class="text-muted">Help text</small>
                </div>
                <div class="form-group">
                    <label for="">Confirm password</label>
                    <input type="password" formGroupName="confirmPassword" class="form-control" placeholder=""
                        aria-describedby="helpId">
                    <small id="helpId" class="text-muted">Help text</small>
                </div>

            </div>
            <div class="card-footer">
                <button class="btn btn-primary mr-3">Confirm</button>
                <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>
