<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid" [@routerTransition]>
    <div class="p-col-12">
        <form #f="ngForm" (ngSubmit)="onSubmit()">
            <p-panel header="Add User">
                <p-header>
                </p-header>

                <!-- User ID -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="userId">User Id:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText placeholder="User Id" [(ngModel)]="userInput.userId" name="userId"
                            #userId="ngModel" pKeyFilter="num" required>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="User ID is required"
                            *ngIf="(userId.touched || userId.dirty) && userId.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <!-- First Name -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="firstName">First Name:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText placeholder="First Name" [(ngModel)]="userInput.firstName"
                            name="firstName" #firstName="ngModel" required>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="First Name is required"
                            *ngIf="(firstName.touched || firstName.dirty) && firstName.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <!-- Last Name -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="lastName">Last Name:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText placeholder="Last Name" [(ngModel)]="userInput.lastName"
                            name="lastName" #lastName="ngModel" required>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Last Name is required"
                            *ngIf="(lastName.touched || lastName.dirty) && lastName.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <!-- Email -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="email">Email:</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText placeholder="Email" [(ngModel)]="userInput.email" name="email"
                            #email="ngModel" required email>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Email is required"
                            *ngIf="(email.touched || email.dirty) && email.hasError('required')">
                        </p-message>
                        <p-message severity="error" text="Not a valid email"
                            *ngIf="(email.touched || email.dirty) && email.hasError('email')">
                        </p-message>
                    </div>
                </div>

                <!-- Position -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="department">Position:</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="positions" optionLabel="name" [(ngModel)]="selectedPosition"
                            name="position" #position="ngModel" required placeholder="Select position" appendTo="body"
                            showClear="true" [filter]="true" filterBy="label">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Position is required"
                            *ngIf="(position.touched||position.dirty) && (position.value==='' || position.hasError('required'))">
                        </p-message>
                    </div>
                </div>

                <!-- Department -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="department">Department:</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="departments" optionLabel="name" [(ngModel)]="selectedDepartment"
                            name="department" #department="ngModel" required placeholder="Select department"
                            appendTo="body" showClear="true" [filter]="true" filterBy="label">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Department is required"
                            *ngIf="(department.touched||department.dirty) && (department.value==='' || department.hasError('required'))">
                        </p-message>
                    </div>
                </div>

                <p-footer>
                    <div class="p-grid">
                        <div class="p-col-10 p-col-align-left">
                            <button pButton type="button" label="Back" icon="pi pi-arrow-left" (click)="onBack($event)"
                                class="ui-button-danger mr-2"></button><button pButton label="Save" icon="pi pi-plus"
                                [disabled]="f.invalid"></button>
                        </div>

                        <div class="p-col-1 p-col-align-end">
                            <button pButton type="button" label="Reset" icon="pi pi-refresh" (click)="onReset($event)"
                                class="ui-button-secondary"></button>
                        </div>
                    </div>
                </p-footer>
            </p-panel>
        </form>
    </div>
</div>