<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid" [@routerTransition]>
    <div class="p-col-6">
        <p-panel header="Academic Administration Activity ({{userId}})">

            <!-- DUTY -->
            <div class="p-grid" *ngIf="activity?.duty">
                <div class="p-col">
                    <strong>
                        Activity Type
                    </strong>
                </div>
                <div class="p-col">
                    {{activity?.duty?.name}} ({{activity?.duty?.dutyId}})
                </div>
            </div>

            <!-- TITLE -->
            <div class="p-grid" *ngIf="activity?.title">
                <div class="p-col">
                    <strong>
                        Title
                    </strong>
                </div>
                <div class="p-col">
                    {{activity?.title}}
                </div>
            </div>

            <!-- QUALIFICATION -->
            <div class="p-grid" *ngIf="activity?.qualification">
                <div class="p-col">
                    <strong>
                        Qualification
                    </strong>
                </div>
                <div class="p-col">
                    {{activity?.qualification?.name}} ({{activity?.qualification?.qualificationId}})
                </div>
            </div>

            <!-- DETAILS -->
            <div class="p-grid">
                <div class="p-col">
                    <strong>
                        Additional Details
                    </strong>
                </div>
                <div class="p-col">
                    {{activity?.description}}
                </div>
            </div>

            <!-- EVIDENCE -->
            <div class="p-grid" *ngIf="activity?.evidence">
                <div class="p-col">
                    <strong>Evidence</strong>
                </div>
                <div class="p-col">
                    <a href="{{activity?.evidence}}" icon="pi pi-pdf">Download</a>
                </div>
            </div>

            <p-footer>
                <div class="p-grid">
                    <div class="p-col p-col-align-left">
                        <button type="button" pButton icon="pi pi-arrow-left" class="ui-button-danger mr-2" label="Back"
                            (click)="onBack($event)"></button>
                        <button type="button" pButton icon="pi pi-pencil" class="ui-button-primary" label="Edit"
                            (click)="onEdit($event)"></button>
                    </div>
                </div>
            </p-footer>
        </p-panel>
    </div>
</div>