<div class="row" [@routerTransition]>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h4>Details</h4>
            </div>
            <div class="card-body" *ngIf="discipline">
                <div class="row">
                    <div class=" col">
                        <strong>
                            Discipline ID
                        </strong>
                    </div>
                    <div class="text-muted col">
                        {{discipline?.disciplineId | uppercase}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong>
                            Name
                        </strong>
                    </div>

                    <div class="text-muted col">
                        {{discipline?.name | titlecase}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong>
                            Description
                        </strong>
                    </div>

                    <div class="text-muted col">
                        {{discipline?.description}}
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary mr-3" (click)="onEdit()">Edit</button>
                        <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
                        <button class="btn btn-warning pull-right" (click)="onDelete()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>