<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid" [@routerTransition]>
    <div class="p-col">
        <form #f="ngForm" (ngSubmit)="onSubmit()">
            <p-panel header="Add Research Activity">

                <!-- User -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="user">User ID</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText [(ngModel)]="userId" name="user" #user="ngModel" pKeyFilter="num"
                            required [disabled]="true">
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="User ID is required"
                            *ngIf="(user.touched || user.dirty) && user.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <!-- Duty -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="duty">Duty ID</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText [(ngModel)]="dutyId" name="duty" #duty="ngModel" pKeyFilter="num"
                            required [disabled]="true">
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="User ID is required"
                            *ngIf="(duty.touched || duty.dirty) && duty.hasError('required')">
                        </p-message>
                    </div>
                </div>

                <!-- Output -->
                <div class="p-grid">
                    <div class="p-col-2">Research output</div>
                    <div class="p-col-6">
                        <p-dropdown [options]="outputs" optionLabel="label" name="output" [(ngModel)]="selectedOutput"
                            #output="ngModel" placeholder="Select an output type" [showClear]="true" filter="true"
                            appendTo="body" required>
                        </p-dropdown>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Output field is required"
                            *ngIf="(output.dirty || output.touched) && (output.hasError('required'))">
                        </p-message>
                    </div>
                </div>

                <!-- Title -->
                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="title">
                            Title
                        </label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText name="title" [(ngModel)]="selectedTitle" #title="ngModel"
                            placeholder="Title" required>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Title field is required"
                            *ngIf="(title.dirty || title.touched)&&(title.hasError('required'))">
                        </p-message>
                    </div>
                </div>

                <!-- Conference Options -->
                <div class="p-grid" *ngIf="selectedOutput !== null && selectedOutput.value === 1">
                    <div class="p-col-2">Conference activities</div>
                    <div class="p-col-6">
                        <p-listbox [options]="conferenceActivities" multiple="multiple" checkbox="checkbox"
                            filter="filter" name="confActivities" [(ngModel)]="selectedConferenceActivities"
                            #confActivities="ngModel" optionLabel="value"
                            [listStyle]="{'max-height':'200px', 'width':'100%'}" [style]="{'width':'100%'}" required>
                            <p-header>
                                Conference Activities
                            </p-header>
                        </p-listbox>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="One or more conference activities required"
                            *ngIf="selectedOutput.value === 1 && (confActivities.dirty || confActivities.touched)&&(confActivities.hasError('required'))">
                        </p-message>
                    </div>
                </div>

                <!-- Book & Chapter Options -->
                <div class="p-grid"
                    *ngIf="selectedOutput !== null && (selectedOutput.value === 3 || selectedOutput.value === 4)">
                    <div class="p-col-2">
                        <label for="authors">
                            Authors
                        </label>
                    </div>
                    <div class="p-col-6">
                        <p-chips name="authors" [(ngModel)]="selectedAuthors" #authors="ngModel"
                            placeholder="Hit Enter after each name"></p-chips>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Authors are required"
                            *ngIf="(selectedOutput.value === 3 && selectedOutput.value === 4) && (authors.dirty || authors.touched)&&(authors.hasError('required'))">
                        </p-message>
                    </div>
                </div>

                <!-- Journal Options -->
                <div class="p-grid" *ngIf="selectedOutput !== null && selectedOutput.value === 2">
                    <div class="p-col-2">Journal url</div>
                    <div class="p-col-6"><input type="text" pInputText name="url" [(ngModel)]="selectedUrl"
                            #url="ngModel" placeholder="Journal address (e.g. http://researchurl.com)">
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="URL field is required"
                            *ngIf="selectedOutput.value === 2 && (url.dirty || url.touched)&&(url.hasError('required'))">
                        </p-message>
                    </div>
                </div>

                <!-- DATES -->
                <div class="p-grid">
                    <div class="p-col-2">Date(s)</div>
                    <div class="p-col-6">
                        <p-calendar name="dates" [(ngModel)]="selectedDates" #dates="ngModel" appendTo="body"
                            selectionMode="range" showButtonBar="true" [readonlyInput]='true' required>
                        </p-calendar>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Date field is required"
                            *ngIf="(dates.dirty || dates.touched)&&(dates.hasError('required'))">
                        </p-message>
                    </div>
                </div>

                <!-- ADDITIONAL DETAILS -->
                <div class="p-grid">
                    <div class="p-col-2">Additional details (optional)</div>
                    <div class="p-col-6">
                        <textarea type="text" pInputTextarea [rows]="5" [cols]=[110] name="details"
                            [(ngModel)]="selectedDetails" #details="ngModel"
                            placeholder="Short abstract or description of event"></textarea>
                    </div>
                    <div class="p-col-4">
                        <p-message severity="error" text="Details field is required"
                            *ngIf="(details.dirty || details.touched)&&(details.hasError('required'))">
                        </p-message>
                    </div>
                </div>

                <p-footer>
                    <div class="p-grid" *ngIf="!isSubmitting; else spinner">
                        <div class="p-col-10 p-col-align-left">
                            <button pButton type="button" label="Back" icon="pi pi-arrow-left" (click)="onBack($event)"
                                class="ui-button-danger mr-2"></button>
                            <button pButton label="Save" icon="pi pi-plus"
                                [disabled]="f.untouched || (f.touched && f.invalid)" class=""></button>
                        </div>
                        <div class="p-col-2 p-col-align-right">
                            <button pButton type="button" label="Reset" icon="pi pi-refresh" (click)="onReset($event)"
                                class="ui-button-secondary"></button>
                        </div>
                    </div>

                    <div class="p-grid">
                        <div class="p-col">
                            <ng-template #spinner>
                                <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="6"
                                    fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
                            </ng-template>
                        </div>
                    </div>
                </p-footer>
            </p-panel>
        </form>
    </div>
</div>