<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>

<div class="card" [@routerTransition]>
  <p-toolbar styleClass="p=mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
      <button
        pButton
        pRipple
        [label]="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedFaculties()"
        [disabled]="!selectedFaculties || !selectedFaculties.length"
      ></button>
    </ng-template>

    <ng-template pTemplate="right">
      <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Import"
        chooseLabel="Import"
        class="p-mr-2 p-d-inline-faculty"
      ></p-fileUpload>
      <button
        pButton
        pRipple
        label="Export"
        icon="pi pi-upload"
        class="p-button-help"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="faculties"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['facultyId', 'name', 'description']"
    [(selection)]="selectedFaculties"
    [rowHover]="true"
    dataKey="facultyId"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage Faculties</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="facultyId">
          Faculty ID <p-sortIcon field="facultyId"></p-sortIcon>
        </th>
        <th pSortableColumn="name">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-faculty>
      <tr>
        <td>
          <p-tableCheckbox [value]="faculty"></p-tableCheckbox>
        </td>
        <td>{{ faculty.facultyId }}</td>
        <td>{{ faculty.name }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2"
            (click)="editFaculty(faculty)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteFaculty(faculty)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{ faculties ? faculties.length : 0 }} faculties.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="facultyDialog"
  [style]="{ width: '450px' }"
  header="Faculty Details"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="facultyId">FacultyId</label>
      <input
        type="text"
        pInputText
        id="facultyId"
        [(ngModel)]="faculty.facultyId"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !faculty.facultyId"
        >Faculty ID is required.</small
      >
    </div>
    <div class="p-field">
      <label for="name">name</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="faculty.name"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !faculty.name"
        >Faculty name is required.</small
      >
    </div>

  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveFaculty()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<p-toast></p-toast>

