<div class="row">
    <div class="col-6">
        <form [formGroup]="facultyAddForm" (ngSubmit)="onAdd()" novalidate class="form">

            <div class="card">
                <div class="card-header">
                    <h5>Add Faculty</h5>
                </div>
                <div class="card-body">

                    <div class="form-row">
                        <div class="form-group">
                            <label for="facultyId">Faculty Code</label>
                            <input formControlName="facultyId" type="text" class="form-control" placeholder="Faculty Code">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="name">Faculty Name</label>
                            <input formControlName="name" type="text" class="form-control" placeholder="Faculty Name">
                        </div>
                    </div>


                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-outline-success">Add</button>
                            <button type="button" class="btn btn-outline-primary ml-3" (click)="onBack()">Back</button>
                            <button type="button" class="btn btn-outline-dark pull-right" (click)="onReset()">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
