<div [@routerTransition]>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>Public Service</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Content</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary">New Activity</button>
                </div>
            </div>
        </div>
    </div>
</div>
