<div class="row" [@routerTransition]>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h5>Enrollment</h5>
            </div>
            <div class="card-body">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row justify-content-between">
                        <p><strong>Enrollment Year</strong></p>
                        {{enrollment?.enrollmentYear}}
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <p><strong>Qualification</strong></p>
                        {{enrollment?.qualification?.name}}
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <p><strong>First Year</strong></p>
                        {{enrollment?.firstYearEstimated}}
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <p><strong>Second Year</strong></p>
                        {{enrollment?.secondYearEstimated}}
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <p><strong>Third Year</strong></p>
                        {{enrollment?.thirdYearEstimated}}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary mr-3" (click)="onEdit()">Edit</button>
                <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                <button type="button" class="btn btn-warning float-right" (click)="onDelete()">Delete</button>
            </div>
        </div>
    </div>
</div>
