<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid" [@routerTransition]>
    <div class="p-col-6">
        <p-panel header="Formal Instruction Activity">

            <div class="p-grid">
                <div class="p-col">
                    <strong>Activity Type(Duty)</strong>
                </div>
                <div class="p-col">
                    {{ activity?.duty?.name }}({{ activity?.duty?.dutyId}})
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col">
                    <strong>Module</strong>
                </div>
                <div class="p-col">
                    {{ activity?.module?.name }}
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col">
                    <strong>Block</strong>
                </div>
                <div class="p-col">
                    {{ activity?.module?.block?.name }}
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col">
                    <strong>Offering Type</strong>
                </div>
                <div class="p-col">
                    {{ activity?.module?.offeringType?.description }}
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col">
                    <strong>User ID</strong>
                </div>
                <div class="p-col">
                    {{ activity?.userId }}
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col">
                    <strong>User</strong>
                </div>
                <div class="p-col">
                    {{ activity?.user?.firstName }} {{ activity?.user?.lastName }}
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col">
                    <strong>Approval Status</strong>
                </div>
                <div class="p-col">
                    {{ activity?.approvalStatus }}
                </div>
            </div>
            <p-footer>
                <div class="p-grid">
                    <div class="p-col p-col-justify-start">
                        <button type="button" pButton icon="pi pi-pencil" (click)="onEdit($event)" label="Edit"
                            class="mr-2"></button>
                        <button type="button" pButton icon="pi pi-arrow-left" (click)="onBack($event)" label="Back"
                            class="ui-button-danger"></button>
                    </div>
                </div>
            </p-footer>
        </p-panel>
    </div>
</div>