<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>

<div class="card" @routerTransition>
  <p-toolbar styleClass="p=mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
      <button
        pButton
        pRipple
        label="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedDisciplines()"
        [disabled]="!selectedDisciplines || !selectedDisciplines.length"
      ></button>
    </ng-template>

    <ng-template pTemplate="right">
      <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Import"
        chooseLabel="Import"
        class="p-mr-2 p-d-inline-discipline"
      ></p-fileUpload>
      <button
        pButton
        pRipple
        label="Export"
        icon="pi pi-upload"
        class="p-button-help"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="disciplines"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['disciplineId', 'name', 'description']"
    [(selection)]="selectedDisciplines"
    [rowHover]="true"
    dataKey="disciplineId"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage Disciplines</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="disciplineId">
          Discipline ID <p-sortIcon field="disciplineId"></p-sortIcon>
        </th>
        <th pSortableColumn="name">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>

        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-discipline>
      <tr>
        <td>
          <p-tableCheckbox [value]="discipline"></p-tableCheckbox>
        </td>
        <td>{{ discipline.disciplineId }}</td>
        <td>{{ discipline.name }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2"
            (click)="editDiscipline(discipline)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteDiscipline(discipline)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{ disciplines ? disciplines.length : 0 }}
        disciplines.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="disciplineDialog"
  [style]="{ width: '450px' }"
  header="Discipline Details"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="disciplineId">Discipline ID</label>
      <input
        type="text"
        pInputText
        id="disciplineId"
        [(ngModel)]="discipline.disciplineId"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !discipline.disciplineId"
        >Discipline ID is required.</small
      >
    </div>
    <div class="p-field">
      <label for="name">Name</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="discipline.name"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !discipline.name"
        >Discipline ID is required.</small
      >
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveDiscipline()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<p-toast></p-toast>
