<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid" [@routerTransition]>
    <div class="p-col">
        <p-panel header="Community Instruction Activities">
            <p-table #ciTable [columns]="cols" [value]="activities" [paginator]="true" [rows]="10"
                selectionMode="single" [(selection)]="selectedActivity" datakey="activityId"
                (onRowSelect)="onRowSelect($event)" [reorderableColumns]="true" [responsive]="true" [loading]="loading"
                [contextMenu]="cm" contextMenuSelectionMode="joint">
                <ng-template pTemplate="caption">
                    <div style="text-align: right;">
                        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Global Filter"
                            (input)="ciTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let column of columns" [pSortableColumn]="column.field" pReorderableColumn>
                            {{column.header}}
                            <p-sortIcon [field]="column.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-activity let-columns="columns">
                    <tr [pSelectableRow]="activity" [pContextMenuRow]="activity">
                        <td *ngFor="let column of columns">
                            {{activity[column.field]}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer" let-columns>
                    <tr>
                        <td *ngFor="let column of columns">
                            {{column.header}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">

                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns.length">
                            No records found
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <p-contextMenu #cm [model]="menuItems" appendTo="body"></p-contextMenu>
            <p-footer>
                <button pButton type="button" label="New Activity" icon="pi pi-plus" iconPos="left"
                    (click)="onAdd()"></button>
                <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export CSV"
                    (click)="ciTable.exportCSV()" style="float:right"></button>
            </p-footer>
        </p-panel>
    </div>
</div>

<p-toast position="center" key="communityInstructionActivityDelete" (onClose)="onReject()" [modal]="true"
    [baseZIndex]="9000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>