<div [@routerTransition]>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h5>Delete Faculty</h5>
                </div>
                <div class="card-body">
                    <h6>Are you sure you want to delete the following?</h6>
                    <div class="">
                        <dl class="row">
                            <dt class="col-4">Faculty ID:</dt>
                            <dd class="col-8">{{faculty?.facultyId}}</dd>
                            <dt class="col-4">Faculty:</dt>
                            <dd class="col-8">{{faculty?.name}}</dd>
                        </dl>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-danger mr-3" (click)="onDelete()">Confirm</button>
                    <button class="btn btn-dark" (click)="onBack()">Back</button>
                </div>
            </div>
        </div>
    </div>

</div>
