<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid" [@routerTransition]>
    <div class="p-col-6">
        <p-panel header="Qualification">
            <div class="p-grid">
                <div class="p-col">
                    <strong>Qualification ID</strong>
                </div>
                <div class="p-col">
                    {{qualification?.qualificationId}}
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col">
                    <strong>
                        Name
                    </strong>
                </div>
                <div class="p-col">
                    {{qualification?.name}}
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col">
                    <strong>Type</strong>
                </div>
                <div class="p-col">
                    {{qualification?.type}}
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col">
                    <strong>Department</strong>
                </div>
                <div class="p-col">
                    {{qualification?.department?.name}} ({{qualification?.department?.departmentId}})
                </div>
            </div>

            <p-footer>
                <div class="p-grid">
                    <div class="p-col p-col-align-left">
                        <button pButton icon="pi pi-pencil" label="Edit" class="mr-2" (click)="onEdit()"></button>
                        <button type="button" pButton icon="pi pi-arrow-left" class="ui-button-danger" label="Back"
                            (click)="onBack($event)"></button>
                    </div>
                    <div class="p-col-2 p-col-align-right">
                        <button type="button" pButton icon="pi pi-refresh" class="ui-button-warning" label="Delete"
                            (click)="onDelete($event)"></button>
                    </div>
                </div>
            </p-footer>
        </p-panel>
    </div>
</div>