<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="p-grid" [@routerTransition]>
    <div class="p-col">
        <form #f="ngForm" (ngSubmit)="onSubmit()">
            <p-panel header="Edit Enrollment">

                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="enrollmentYear">Enrollment Year</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText [(ngModel)]="enrollmentInput.enrollmentYear" name="enrollmentYear"
                            #enrollmentYear="ngModel" [disabled]="true">
                    </div>
                    <div class="p-col-4">
                    </div>
                </div>

                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="qualification">Qualification</label>
                    </div>
                    <div class="p-col-6">
                        <p-dropdown [options]="qualifications" [(ngModel)]="enrollmentInput.qualificationId"
                            placeholder="Select qualification" optionLabel="qualificationId" [showClear]="true"
                            name="qualification" #qualification="ngModel" required appendTo="body">
                        </p-dropdown>
                    </div>
                    <div class="p-col-4"
                        *ngIf="(qualification.touched||qualification.dirty)&&qualification.hasError('required')">
                        <p-message severity="error" text="Qualification is required"></p-message>
                    </div>
                </div>

                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="firstYearEstimated">First Year Estimated</label>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText [(ngModel)]="enrollmentInput.firstYearEstimated"
                            name="firstYearEstimated" #firstYearEstimated="ngModel" required pKeyFilter="num">
                    </div>
                    <div class="p-col-4"
                        *ngIf="(firstYearEstimated.touched||firstYearEstimated.dirty)&&firstYearEstimated.hasError('required')">
                        <p-message severity="error" text="This field is required"></p-message>
                    </div>
                </div>

                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="secondYearEstimated">Second Year Estimated</label>
                    </div>
                    <div class="p-col-6">
                        <input type="number" pInputText [(ngModel)]="enrollmentInput.secondYearEstimated"
                            name="secondYearEstimated" #secondYearEstimated="ngModel" required pKeyFilter="num">
                    </div>
                    <div class="p-col-4"
                        *ngIf="(secondYearEstimated.touched||secondYearEstimated.dirty)&&secondYearEstimated.hasError('required')">
                        <p-message severity="error" text="This field is required"></p-message>
                    </div>
                </div>

                <div class="p-grid">
                    <div class="p-col-2">
                        <label for="thirdYearEstimated">Third Year Estimated</label>
                    </div>
                    <div class="p-col-6">
                        <input type="number" pInputText [(ngModel)]="enrollmentInput.thirdYearEstimated"
                            name="thirdYearEstimated" #thirdYearEstimated="ngModel" required pKeyFilter="num">
                    </div>
                    <div class="p-col-4"
                        *ngIf="(thirdYearEstimated.touched||thirdYearEstimated.dirty)&&thirdYearEstimated.hasError('required')">
                        <p-message severity="error" text="This field is required"></p-message>
                    </div>
                </div>

                <p-footer>
                    <div class="p-grid">
                        <div class="p-col p-col-align-left">
                            <button pButton icon="pi pi-pencil" class="mr-2" label="Edit"
                                [disabled]="f.invalid"></button>
                            <button type="button" pButton icon="pi pi-arrow-left" class="ui-button-danger" label="Back"
                                (click)="onBack($event)"></button>
                        </div>
                        <div class="p-col-2 p-col-align-right">
                            <button type="button" pButton icon="pi pi-refresh" class="ui-button-secondary" label="Reset"
                                (click)="onReset($event)"></button>
                        </div>
                    </div>
                </p-footer>

            </p-panel>
        </form>

    </div>
</div>